@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; }
li { list-style: none; }
body { background: #29033e; }
img { border: none; }

.date { width: 520px; height: 520px; background: url(images/bg.png); margin: 50px auto 0; position: relative; }
.date h2 { text-align: center; padding: 80px 0 30px; }
.year { text-align: center; padding-top: 30px; }
.time { text-align: center; padding: 30px 0; }
.url { text-align: center; position: absolute; bottom: 40px; left: 100px; }
.date img { position: relative; }
.pos2 { margin-left: 10px; }
.num { width: 25px; }
.num2 { width: 38px; }