@charset "UTF-8";

@import url("reset.css");
.wrap, .nav, .banner, .platform, .life-photos, .wrap .content .course-wrap, .course, .course-fact-list-definition, .footer-wrap {
  margin-left: auto;
  margin-right: auto; }

.notic {
  display: none;
  height: 36px;
  background: #f3f3f3; }
  .notic-wrap {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    .notic-wrap > p {
      width: 470px;
      line-height: 36px;
      float: left; }
      .notic-wrap > p > a {
        display: inline-block;
        height: 100%;
        color: #71bc8b; }
        .notic-wrap > p > a:after {
          content: '>'; }
    .notic-wrap > button {
      float: right;
      width: 68px;
      line-height: 36px;
      border: 0;
      background: none;
      cursor: pointer; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.75;
  fliter: alpha(opacity=75);
  z-index: 1000; }

.logBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px 40px 40px;
  margin-top: -136px;
  margin-left: -200px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 9999;
  opacity: 1; }
  .logBox > h2 {
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #323a45; }
  .logBox > form {
    width: 400px;
    display: block;
    margin-top: 0em; }
    .logBox > form input {
      width: 200px;
      height: 24px;
      margin-left: 98px;
      margin-bottom: 10px;
      text-indent: 15px; }
    .logBox > form > button {
      width: 68px;
      height: 30px;
      line-height: 30px;
      margin-top: 4px;
      margin-left: 156px;
      border: 0;
      text-align: center;
      background: #00caab;
      cursor: pointer; }
  .logBox .warning {
    margin: 0;
    height: 28px;
    line-height: 28px;
    color: red;
    opacity: 0;
    fliter: alpha(opacity=0); }
  .logBox .bottom-link > a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
    text-align: right; }
    .logBox .bottom-link > a:hover {
      text-decoration: underline; }

.wrap {
  width: 100%;
  min-height: 2879px;
  overflow: hidden; }
  .nav {
    width: 960px;
    height: 89px; }
    .nav-attention {
      float: left;
      min-width: 376px;
      height: 25px;
      line-height: 25px;
      margin-top: 30px; }
      .nav-attention > a {
        float: left;
        width: 61px;
        height: 25px;
        line-height: 25px; }
        .nav-attention > a > img {
          height: 23px; }
      .nav-attention > h1 {
        float: left;
        min-width: 154px;
        height: 25px;
        line-height: 25px;
        padding-left: 13px;
        border-left: 1px solid #39a030;
        font-family: 黑体;
        font-size: 22px;
        margin-left: 8px; }
      .nav-attention .attention {
        float: left;
        min-width: 54px;
        height: 21px;
        margin-top: 2px;
        border: 0;
        border-radius: 2px;
        margin-left: 30px;
        font-weight: bold;
        text-align: center;
        background: #21a557;
        color: #fff;
        cursor: pointer; }
      .nav-attention > p {
        float: right;
        min-width: 43px;
        line-height: 25px;
        
        line-height: 25px;
        font-family: 宋体; }
        .nav-attention > p > span {
          float: right;
          text-align: right; }
    .nav-search {
      float: right;
      min-width: 34px;
      height: 25px;
      margin-top: 30px;
      position: relative; }
      .nav-search-input {
        position: absolute;
        left: -388px;
        top: -1px;
        width: 420px;
        height: 26px;
        border: 1px solid #ccc;
        line-height: 30px;
        text-indent: 2em;
        border-radius: 2em;
        z-index: 3;
        display: none; }
      .nav-search-btn {
        width: 20px;
        height: 22px;
        margin-top: 3px;
        border: 0;
        background: url("../imgs/search-btn.png") no-repeat;
        cursor: pointer;
        position: relative;
        z-index: 9; }
    .nav-list {
      float: right;
      height: 16px;
      margin: 30px 30px 0 0;
      padding: 7px 0 2px 0; }
      .nav-list-center {
        min-width: 48px;
        margin-right: 56px;
        margin-left: 52px; }
      .nav-list > li {
        float: left;
        line-height: 16px;
        font-size: 16px;
        color: #666666;
        cursor: pointer; }
  .banner {
    width: 100%;
    min-width: 1616px;
    min-height: 460px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    transform-style: preserve-3d; }
    .banner-img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0; }
      .banner-img > li {
        width: 100%;
        height: 460px;
        position: absolute;
        display: none; }
        .banner-img > li img {
          width: 100%;
          height: 100%; }
      .banner-img .show {
        display: block; }
    .banner-btn {
      position: absolute;
      top: 93.5%;
      z-index: 9;
      text-align: center; }
      .banner-btn > li {
        float: left;
        margin-right: 11px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer; }
      .banner-btn .btn-last {
        margin: 0; }
      .banner-btn .clik {
        background: #000; }
  .platform {
    width: 960px;
    margin-top: 60px;
    overflow: hidden; }
    .platform-course, .platform-cloud, .platform-mooc {
      width: 271px;
      margin-right: 70px;
      float: left; }
      .symbol {
        float: left;
        width: 80px;
        height: 80px;
        margin-top: 9px;
        margin-right: 20px;
        border-radius: 50%;
        background: url("../imgs/logo-symbol.png") no-repeat left top; }
      .platform-course-intro, .platform-cloud-intro, .platform-mooc-intro {
        float: right;
        width: 171px; }
        .platform-course-intro > h3, .platform-cloud-intro > h3, .platform-mooc-intro > h3 {
          width: 100%;
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 20px;
          color: #333; }
        .platform-course-intro > p, .platform-cloud-intro > p, .platform-mooc-intro > p {
          width: 100%;
          height: 110px;
          line-height: 24px;
          font-size: 14px;
          color: #666; }
        .platform-course-intro > a, .platform-cloud-intro > a, .platform-mooc-intro > a {
          display: block;
          min-width: 70px;
          line-height: 15px;
          font-size: 14px;
          margin-top: 33px;
          color: #39a030; }
          .platform-course-intro > a:hover, .platform-cloud-intro > a:hover, .platform-mooc-intro > a:hover {
            text-decoration: underline; }
    .platform-mooc {
      margin-right: 0; }
      .platform-mooc .symbol {
        background: url("../imgs/logo-symbol.png") no-repeat -160px top; }
    .platform-cloud .symbol {
      background: url("../imgs/logo-symbol.png") no-repeat -80px top; }
  .life-photos {
    width: 1616px;
    height: 220px;
    margin-top: 60px;
    overflow: hidden; }
    .life-photos > li {
      float: left;
      margin-right: 4px; }
    .life-photos .last {
      margin: 0; }
  .wrap .content {
    width: 100%;
    background: #f8f8f8; }
    .wrap .content .course-wrap {
      width: 962px;
      height: 1551px; }
      .course {
        float: left;
        width: 736px;
        height: 1350px;
        margin-top: 81px; }
        .course-catgories {
          width: 400px;
          height: 50px;
          border: 1px solid #d4d3d3;
          margin-bottom: 27px;
          margin-left: 1px;
          overflow: hidden; }
          .course-catgories > button {
            float: left;
            width: 200px;
            height: 50px;
            line-height: 50px;
            border: 0;
            font-size: 20px;
            color: #666;
            background: #fff;
            text-align: center;
            cursor: pointer; }
          .course-catgories .course-catgories-now {
            color: #fff;
            background: #39a030; }
        .course-fact {
          width: 736px; }
          .course-fact > ul {
            width: 736px;
            overflow: hidden;
            margin-bottom: 12px; }
          .course-fact-list {
            width: 225px;
            height: 229px;
            border: 1px solid #e6e6e6;
            float: left;
            margin-right: 18px;
            margin-bottom: 18px;
            background: #fff; }
            .course-fact-list > a {
              display: block;
              width: 223px;
              height: 124px;
              margin: 1px 1px 9px 1px; }
              .course-fact-list > a > img {
                width: 100%;
                height: 100%; }
            .course-fact-list-definition {
              width: 219px;
              padding-left: 4px; }
              .course-fact-list-definition > dt {
                line-height: 12px;
                margin-bottom: 10px;
                color: #6b6b6b; }
              .course-fact-list-definition-tag {
                line-height: 12px;
                margin-bottom: 10px;
                color: #bdbdbd; }
              .course-fact-list-definition-num {
                height: 16px;
                line-height: 16px;
                margin-bottom: 10px; }
                .course-fact-list-definition-num > span {
                  display: inline-block;
                  padding-left: 16px;
                  padding-right: 4px;
                  border: 1px solid #ddd;
                  border-radius: 1px;
                  line-height: 16px;
                  background: url("../imgs/icon-num.png") no-repeat 4px top;
                  color: #ddd; }
              .course-fact-list-definition-value {
                line-height: 12px;
                color: #ff3f00; }
        .course .pages {
          float: right;
          line-height: 20px;
          font-size: 14px;
          color: #959595;
          overflow: hidden; }
          .course .pages-num {
            float: left;
            margin: 0 12px; }
            .course .pages-num > li {
              width: 20px;
              height: 20px;
              float: left;
              margin-right: 8px;
              text-align: center;
              cursor: pointer; }
              .course .pages-num > li:hover {
                color: #fff;
                background: #9dd8b1; }
              .course .pages-num > li:last-child {
                margin-right: 0; }
            .course .pages-num-now {
              color: #fff;
              background: #9dd8b1; }
          .course .pages-star, .course .pages-end {
            display: block;
            float: left;
            width: 30px;
            height: 20px;
            background: url("../imgs/pages-icon.png") no-repeat;
            cursor: pointer; }
          .course .pages-end {
            background: url("../imgs/pages-icon.png") no-repeat -30px; }
      .sidebar {
        float: right;
        width: 225px;
        height: 1030px;
        margin-top: 81px; }
        .sidebar-intrfo {
          width: 223px;
          height: 230px;
          border-right: 1px solid #ecebeb;
          border-bottom: 1px solid #ecebeb;
          border-left: 1px solid #ecebeb;
          margin-bottom: 19px; }
          .sidebar-intrfo > h3 {
            font-size: 16px;
            line-height: 55px;
            text-indent: 20px;
            color: #333333; }
          .sidebar-intrfo-video {
            width: 180px;
            height: 134px;
            padding: 20px 22px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd; }
            .sidebar-intrfo-video > p {
              line-height: 14px;
              font-size: 14px;
              margin-bottom: 9px;
              color: #666; }
            .sidebar-intrfo-video .video {
              width: 180px;
              height: 110px;
              cursor: pointer;
              background: url("../imgs/video.png") no-repeat; }
              .sidebar-intrfo-video .video > video {
                opacity: 0;
                fliter: alpha(opacity=0); }
        .sidebar-latest-list {
          width: 183px;
          height: 779px;
          border-right: 1px solid #ecebeb;
          border-bottom: 1px solid #ecebeb;
          border-left: 1px solid #ecebeb;
          padding: 0 20px; }
          .sidebar-latest-list > h3 {
            font-size: 16px;
            line-height: 55px;
            color: #333333;
            border-bottom: 1px solid #eee; }
          .sidebar-latest-list-wrap {
            position: relative;
            height: 682px;
            margin-top: 19px;
            overflow: hidden; }
            .list {
              width: 100%;
              position: absolute;
              top: 0; }
              .list > li {
                width: 183px;
                height: 50px;
                margin-bottom: 20px;
                overflow: hidden;
                font-size: 14px; }
                .list > li > a {
                  float: left;
                  display: block;
                  width: 50px;
                  height: 50px;
                  margin-right: 12px; }
                  .list > li > a > img {
                    width: 100%;
                    height: 100%; }
              .list-name {
                float: left;
                width: 120px;
                line-height: 14px;
                margin-bottom: 10px;
                color: #484848; }
              .list-person {
                float: left;
                width: 120px;
                line-height: 16px;
                text-indent: 16px;
                background: url("../imgs/icon-num.png") no-repeat -1px top;
                color: #999; }
    footer {
      width: 100%;
      clear: both;
      min-width: 1364px;
      min-height: 180px;
      padding-top: 82px;
      background: #2c3339;
      color: #a2a4a5;
      font-size: 15px; }
      .footer-wrap {
        width: 962px;
        height: 102px;
        overflow: hidden; }
        .footer-wrap > li {
          float: left;
          height: 102px; }
        .footer-wrap-inInformation {
          width: 394px;
          height: 92px;
          margin-top: 11px;
          margin-right: 150px; }
          .footer-wrap-inInformation > dt {
            font-size: 22px;
            color: #39a030;
            line-height: 22px;
            margin-bottom: 26px; }
          .footer-wrap-inInformation > dd {
            line-height: 20px;
            margin-bottom: 4px; }
            .footer-wrap-inInformation > dd:last-child {
              margin-bottom: 0; }
          .footer-wrap-inInformation-logo {
            display: block;
            line-height: 22px;
            margin-top: 11px;
            font-size: 28px;
            color: #39a030; }
            .footer-wrap-inInformation-logo > span {
              display: inline-block;
              min-width: 164px;
              border-left: 1px solid #39a030;
              margin-left: 10px;
              text-indent: 13px;
              font-size: 22px; }
        .footer-wrap-link, .footer-wrap-about, .footer-wrap-response {
          width: 112px;
          height: 102px;
          margin-right: 97px; }
          .footer-wrap-link > dt, .footer-wrap-about > dt, .footer-wrap-response > dt {
            line-height: 13px;
            font-size: 12px;
            margin-bottom: 15px;
            color: #a2a4a5; }
          .footer-wrap-link > dd, .footer-wrap-about > dd, .footer-wrap-response > dd {
            line-height: 16px;
            margin-bottom: 13px; }
            .footer-wrap-link > dd:last-child, .footer-wrap-about > dd:last-child, .footer-wrap-response > dd:last-child {
              margin-bottom: 0; }
            .footer-wrap-link > dd > a, .footer-wrap-about > dd > a, .footer-wrap-response > dd > a {
              color: #a2a4a5; }
              .footer-wrap-link > dd > a:hover, .footer-wrap-about > dd > a:hover, .footer-wrap-response > dd > a:hover {
                text-decoration: underline; }
        .footer-wrap-about {
          width: 64px;
          margin-right: 72px; }
        .footer-wrap-response {
          width: 62px;
          margin-right: 0; }
