div{
	background-color: #eee;
	border: 1px solid #999;
	height: 50px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}
.box1,.box2,.box3{
	width: 30%;
}
.box4{clear: left;}
.box4,.box6{
	width: 20%;
}
.box5{
	width: 50%;
}
.box11{
	width: 55%;
}
.box7{clear: left;}
.box7,.box8{
	width: 5%;
}
.box9,.box10{
	width: 10%;
}


@media only screen and (max-width: 768px) {
	div{
		background-color: #eee;
		border: 1px solid #999;
		height: 50px;
		margin-left: 20px;
		margin-top: 20px;
		float: left;
	}
	.box1,.box2{
		width: 45%;
	}
	.box3{clear: left;}
	.box3{
		width: 93%;
	}
	.box4,.box6{
		width: 16%;
	}
	.box5{
		width: 54%;
	}
	.box7{clear: left;}
	.box7,.box8{
		width: 10%;
	}
	.box9{
		width: 66%;
	}
	.box10{clear: left;}
	.box10,.box11{
		width: 20%;
	}
}