@mixin minWidth($wid,$mwid){
	width: $wid;
  	min-width: $mwid;
}
@mixin box-shadow($boxShadow){
	-webkit-box-shadow:$boxShadow;
	-moz-box-shadow:$boxShadow;
	-ms-box-shadow:$boxShadow;
	-o-box-shadow:$boxShadow;
	box-shadow:$boxShadow;
}
@mixin border-radius($borderRadius){
	-webkit-border-radius:$borderRadius;
	-moz-border-radius:$borderRadius;
	-ms-border-radius:$borderRadius;
	-o-border-radius:$borderRadius;
	border-radius:$borderRadius;
}
@mixin clearFloat{
	content: '.';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
@mixin font($fs,$fm,$fc){
	font-size:$fs;
	font-family:$fm;
	color:$fc;
}