
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	font-family: 黑体;
}
a{text-decoration: none;}
li{float: left;}
select{outline: none;}
body{
	width: 1280px;
	margin: 0 auto;
}

/*header顶栏部分*/
.header{
	width: 1280px;
	height: 55px;
	background-image: url(../img/header.png);
}
.header-left a,.header-right input,
.header-left i,.header-right,
.content-left,.left-top,
.left-middle,.circle,
.sidebar i,.slide1,.slide2,
.sidebar_1 i,.ssearch,.menu,
.sidebar_11 i,.content-right,
.second,.first,.second_r,
.upto,.downto,.third,.but input,
.ticket,.history i,.yuan,
.count span,.count i,.ptable,
.pprice i,.project1 ul .pa{float: left;}
.logo{
	width: 36px;
	height: 36px;
	background-image: url(../img/sprite.png);
	background-position: -17px -60px;
	margin: 10px 0 0 50px;
}
.header-right{
	height: 55px;
	width: 390px;
	margin: 0 0 0 770px;
}
.search{
	width: 310px;
	height: 28px;
	border: 1px solid #999;
	border-radius: 20px;
	margin: 12px 0 0 0;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 10px 6px;
}
.header-right input{
	width: 250px;
	height: 15px;
	border: none;
	margin: 8px 0 0 35px;
	font-size: 16px;
	outline: none;
}
.header-right i{
	position: absolute;
	width: 15px;
	height: 16px;
	margin: -20px 0 0 320px;
	background-image: url(../img/sprite.png);
	background-position: 0px -46px;
}
.header-right a{
	position: absolute;
	color: #fff;
	font-size: 14px;
	margin: -20px 0 0 340px;
}
/*header顶栏部分结束*/

/*content部分*/
.content{
	width: 1280px;
	height: 1210px;
	background-color: #ededec;
}
.content-left{
	width: 250px;
	height: 1210px;
	background-color: #2a2e3d;
}
.left-top,
.left-middle{width: 250px;}
.circle{
	width: 58px;
	height: 58px;
	background-image: url(../img/sprite.png);
	background-position: -17px 0;
	margin: 18px 0 0 45px;
}
.left-top span{
	font-size: 16px;
	color: #f6f5f5;
	line-height: 100px;
	margin: 0 0 0 20px;
}
.left-top ul{margin: 0 0 0 17px;}
.left-top ul li a{
	font-size: 16px;
	color: #6e8095;
}
.left-top ul li{
	width: 35px;
	text-align: center;
	margin: 0 0 0 30px;
}
.left-top ul li.tips{
	width: 1px;
	height: 30px;
	background-image: url(../img/sprite.png);
	background-position: 0 -153px;
}
.left-middle{
	height: 190px;
	background-color: #383d4e;
	margin: 23px 0 0 0;
}
.sidebar a{color: #6e8095;}
.sidebar span{color: #ececef;}
.sidebar i{
	width: 12px;
	height: 12px;
	background-image: url(../img/sprite.png);
	margin: 0 10px 0 0;
}
.sidebar{margin: -25px 0 0 0;}
.sidebar li{
	clear: left;
	margin: 35px 0 0 0;
	padding: 0 0 0 55px;
}
.s1{background-position: -41px -100px;}
.s2,.s4,.s5{background-position: 0 -34px;}
.s3{background-position: 0 -142px;}
.s6{background-position: 0 -73px;}
.sidebar li.save{margin: 30px 0 0 0;}
.sidebar_1 i{
	width: 30px;
	height: 12px;
	background-image: url(../img/sprite.png);
	margin: 0 5px 0 0;
}
.s11,.s13{background-position: -24px -117px;}
.s12{background-position: -24px -100px;}
.sidebar_1,.sidebar_11{margin: 10px 0 0 0;}
.sidebar_1{margin: -10px 0 0 0;}
.sidebar_1 li{
	margin: 20px 0 0 0;
	padding: 0 0 0 15px;
}
.sidebar_11 i{
	width: 11px;
	height: 11px;
	background-image: url(../img/sprite.png);
	margin: 0 5px 0 0;
}
.s121{background-position: 0 -105px;}
.sidebar_11 li{
	margin: 10px 0 0 0;
	padding: 0 0 0 35px;
}
.sidebar_1 li.file3{margin: 20px 0 0 0;}
.content-right{
	width: 1030px;
	height: 1210px;
	background-color: #ededec;
}
.menu{
	height: 30px;
	width: 1030px;
	background-color: #fff;
}
.menu li{
	line-height: 30px;
	color: #aaa;
	margin: 0 0 0 10px;
}
.menu li a{color: #aaa;}
.menu span{margin: 0 0 0 20px;}
.menu li a:hover{
	color: #6898c2;
	font-size: 14px;
}
.ssearch{
	width: 890px;
	height: 86px;
	background-color: #fff;
	margin: 20px 0 0 60px;
	border: 1px solid #dddee0;
	color: #aaa;
}
.ssearch span{margin: 0 5px 0 0;}
.ssearch select{
	width: 68px;
	height: 25px;
	border: 1px solid #dddee0;
}
.first{margin: 15px 0 0 30px;}
.second{margin: 15px 0 0 40px;}
.second select{width: 120px;}
.second li{
	clear: left;
	margin: 0 0 5px 0;
}
.second_r{
	width: 28px;
	height: 38px;
	margin: 24px 0 0 0;
}
.upto{
	width: 28px;
	height: 11px;
	background-image: url(../img/sprite.png);
	background-position: 0 -182px;
}
.second_r span{
	float: right;
	width: 15px;
	height: 15px;
	background-color: #ababaa;
	color: #fff;
	text-align: center;
}
.downto{
	width: 28px;
	height: 11px;
	background-image: url(../img/sprite.png);
	background-position: 0 -196px;
}
.third{
	width: 310px;
	margin: 15px 0 0 30px;
}
.third li{margin: 0 15px 5px 0;}
.date input{
	width: 120px;
	height: 23px;
	border: 1px solid #dddee0;
	outline: none;
}
.success select{width: 122px;}
.but input{
	width: 50px;
	height: 25px;
	background-color: #388ac1;
	color: #fff;
	border: none;
	border-radius: 3px;
	margin: 30px 0 0 10px;
}
.ticket{
	width: 895px;
	height: 65px;
	margin: 10px 0 0 55px;
}
.slide1,.slide2{
	width: 28px;
	height: 63px;
	background-color: #fff;
}
.slide1{
	background-image: url(../img/sprite.png);
	background-position: -72px -185px;
	background-repeat: no-repeat;
}
.slide2{
	background-image: url(../img/sprite.png);
	background-position: 10px -210px;
	background-repeat: no-repeat;
}
.ticket li{
	margin: 0 0 0 5px;
	border: 1px solid #dadbde;
}
.price{
	font-family: 微软雅黑;
	color: #323333;
	width: 108px;
	height: 63px;
	background-color: #fff;
}
.price:hover{
	background-image: url(../img/bg-price.png);
	background-repeat: no-repeat;
}
.yuan{
	width: 10px;
	height: 11px;
	background-image: url(../img/sprite.png);
	background-position: -4px -160px;
}
.price span{
	font-size: 21px;
	font-family: 微软雅黑;
	color: #ec6500;
}
.price p,
.price i{margin: 12px 0 0 25px;}
.history{
	height: 65px;
	width: 128px;
	background-color: #fff;
	line-height: 65px;
}
.history i{
	width: 32px;
	height: 32px;
	background-image: url(../img/sprite.png);
	background-position: -24px -133px;
	margin: 15px 0 0 20px;
}
.history a{
	color: #535353;
	font-family: 微软雅黑;
	margin: 0 0 0 10px;
}
.time{
	position: absolute;
	margin: 235px 0 0 60px;

}
.count{
	position: absolute;
	height: 70px;
	width: 920px;
	margin: 250px 0 0 30px;
	color: #323333;
}
.count span{margin: 15px 0 0 10px;}
.count p{
	margin: 10px 0 0 0;
	color: #aaa;
}
.count li{
	width: 196px;
	height: 68px;
	background-color: #fff;
	margin: 0 0 0 30px;
	border-top: 1px solid #dadbde;
	border-bottom: 1px solid #dadbde;
	border-right: 1px solid #dadbde;
}
.count i{
	width: 60px;
	height: 47px;
	margin: 10px 0 0 75px;
}
.count1{border-left: 3px solid #43b29e;}
.count1 i{background-color: #43b29e;}
.count2{border-left: 3px solid #398bc2;}
.count2 i{background-color: #398bc2;}
.count3{border-left: 3px solid #d04b36;}
.count3 i{background-color: #d04b36;}
.count4{border-left: 3px solid #e2cd46;}
.count4 i{background-color: #e2cd46;}
.project{
	position: absolute;
	height: 355px;
	width: 530px;
	border: 1px solid #dadbde;
	border-radius: 5px;
	background-image: url(../img/bg-project.png);
	background-repeat: repeat-x;
	margin: 335px 0 0 60px;
}
.project p{
	color: #aaa;
	margin: 15px 0 0 20px;
}
.pnav{
	position: absolute;
	margin: 26px 0 0 17px;
}
.pnav li{
	width: 86px;
	height: 27px;
	background-color: #ededf0;
	line-height: 27px;
	text-align: center;
	margin: 0 0 0 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #dadada;
}
.pnav li:hover{
	background-color: #fff;
	border: 1px solid #dadada;
	border-bottom: #fff;
}
.pnav .hovered{
	background-color: #fff;
	border: 1px solid #dadada;
	border-bottom: #fff;
}
.pnav a{color: #535353;}
.ptable{
	width: 488px;
	height: 248px;
	border: 1px solid #dadada;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	margin: 53px 0 0 20px;
}
.ptable table{
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 30px 0 0 40px;
}
.ptable table tr td{
	width: 100px;
	height: 30px;
	border: 1px solid #ddd;
	text-align: center;
	
}
.ptable table tr td:hover{background-color: #f4f5f7;}
.ptable table tr td a{color: #727272;}
.project1{
	position: absolute;
	height: 355px;
	width: 350px;
	border: 1px solid #dadbde;
	border-radius: 5px;
	background-image: url(../img/bg-project.png);
	background-repeat: repeat-x;
	margin: 335px 0 0 597px;
}
.project1 p,
.calendar p,
.rank p{
	color: #aaa;
	margin: 15px 0 0 20px;
}
.project1 ul{margin: 30px 0 0 60px;}
.project1 ul li{clear: left;margin: 5px 0 0 0;}
.project1 ul .pprice{
	width: 100px;
	height: 30px;
	border: 1px solid #aaa;
	border-left: none;
}
.pprice i{
	width: 7px;
	height: 9px;
	background-image: url(../img/sprite.png);
	background-position: -78px 0;
	margin: -12px 0 0 30px;
}
.pgray,
.pa,.pprice{
	color: #c3c2c2;
	text-align: center;
}
.pa p,.pprice p{
	color: #535353;
	margin: 0 0 0 0;
}
.project1 ul .pa{
	height: 30px;
	width: 130px;
	border: 1px solid #aaa;
	border-right: none;
	margin: -32px 0 0 100px;
}
.project1 ul .now{
	width: 231px;
	height: 150px;
	border-bottom: 1px solid #aaa;
}
.project1 input{margin: 260px 0 0 -25px;}
.project1 .psearch input{
	position: absolute;
	width: 50px;
	height: 25px;
	background-color: #388ac1;
	color: #fff;
	border-radius: 3px;
	border: none;
	margin: -20px 0 0 230px;
}
.project1 span{color: #c3c2c2;}
.calendar{
	position: absolute;
	width: 332px;
	height: 353px;
	background-image: url(../img/bg-project.png);
	background-repeat: repeat-x;
	border: 1px solid #dadbde;
	border-radius: 5px;
	margin: 700px 0 0 60px;
}
.calendar .cnav{
	height: 20px;
	width: 310px;
	margin: 20px 0 0 15px;
}
.cnav li{margin: 0 0 0 5px;}
.cnav select,
.cnav li input{
	height: 20px;
	border: 1px solid #cbcbcb;
}
.cnav .month select {
	border-left: none;
	margin: 0 0 0 20px;
	outline: none;
}
.cup,.cdown{
	position: absolute;
	height: 18px;
	width: 20px;
	border: 1px solid #cbcbcb;
	background-color: #fff;
	background-repeat: no-repeat;
}
.cup{
	background-image: url(../img/sprite.png);
	background-position: -77px -75px;
	border-right: none;
}
.cdown{
	background-image: url(../img/sprite.png);
	background-position: -77px -32px;
	margin: -20px 0 0 60px;
}
.label{margin: 0 0 0 21px;}
.cnav li input{
	padding: 0 5px 0 5px;
	background-color: #fff;
}
.num{
	width: 290px;
	border-top: 2px solid #a9cfeb;
	border-bottom: 2px solid #e1e1e2;
	margin: 10px 0 0 20px;
	height: 30px;
}
.num li{
	line-height: 30px;
	margin: 0 0 0 26px;
}
.calendar .num .num1{margin: 0 0 0 20px;}
.num li a{color: #535353;}
.calendar table{
	border-spacing: 2px;
	margin: 0 0 0 25px;
}
.calendar table tr td{
	width: 45px;
	height: 20px;
	padding: 5px 0 5px 0;
}
.calendar table tr td p{
	margin: 0 0 0 0;
	color: #323333;
	text-align: center;
}
.calendar table tr td a{color: #323333;}
.calendar table tr td span{color: #c9161d;}
.calendar table tr .tborder{border: 1px solid #f4c21d;}
.rank{
	position: absolute;
	width: 500px;
	height: 353px;
	background-image: url(../img/bg-project.png);
	background-repeat: repeat-x;
	border: 1px solid #dadbde;
	border-radius: 5px;
	margin: 700px 0 0 400px;
}
.rank table{
	border-spacing: 0;
	border-collapse: collapse;
	margin: 20px 0 0 45px;
}
.rank table tr th,
.rank table tr td{
	border: 1px solid #cececf;
	height: 25px;
	text-align: center;
	line-height: 25px;
	padding: 0 20px 0 20px;
}
.rank table tr td i{
	display: inline-block;
	width: 170px;
	height: 5px;
	margin: 0 0 0 20px;
	background-color: #ddd;
}
.is3,.is1,.is2,.is4,.is5,
.is6,.is7,.is8,.is9,.is10{
	float:left;
	display: inline-block;
	height: 5px;
}
.is1{width: 140px;background-color: #ec6d51;}
.is2{width: 120px;background-color: #ef804f;}
.is3{width: 105px;background-color: #f19e4f;}
.is4{width: 100px;background-color: #7ecaf0;}
.is5{width: 85px;background-color: #7ecaf0;}
.is6{width: 77px;background-color: #7ecaf0;}
.is7{width: 73px;background-color: #7ecaf0;}
.is8{width: 62px;background-color: #7ecaf0;}
.is9{width: 57px;background-color: #7ecaf0;}
.is10{width: 52px;background-color: #7ecaf0;}
.car:hover{background-color: #f3f5f6;}
/*content部分结束*/