#nav_wrap { 
	height:60px;
	background:#0a0b08;
}

#head {
	margin:0 auto; 
	width: 1000px;
	height: 60px;
	background: url("../images/bg_LOGO.png") no-repeat 0 center;
}

.nav_menu li {
	display: block;
	float:right;
	width: 90px;
	height:60px;
}

.nav_menu a {
	display: block;
	font-size:16px;
	color:#01a6de;
	width: 90px;
	height: 60px;
	text-align: center;
	margin:20px 20px 20px 0;
}

.nav_menu li:hover {
	background: url(../images/nav_sign.png) no-repeat 0 bottom;
}

#banner_wrap{
	height: 540px;
	background:#01a6de url("../images/banner-bg.png")no-repeat 0 center;
}

#banner {
	position: relative;
	margin:0 auto;
	width:1000px;
	height: 540px;
	background: url(../images/phone.png) no-repeat 700px 76px; 
}

#banner h1 {
	font-size: 40px;
	color:#fff;
	font-weight: normal;
	padding-top: 148px;
	padding-bottom: 18px;
}

#banner p {
	font-size: 16px;
	color:#fff;
}

#banner a {
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color:#fff;
	background:#f29400;
	width:120px;
	height:42px;
	border-radius: 10px;
	margin-top: 22px;
}

#banner_wrap img {
	position: absolute;
	left: -112px;
	top: 110px;
}








#smart-home_wrap{
	height: 540px;
	background:#fff;
}

#smart-home {
	margin:0 auto;
	width:1000px;
	height: 496px;
	padding-top: 44px;
}

#smart-home .icon {
	float: left;
	width: 120px;
	height: 174px;
	margin:90px 172px 0 0;
}

#smart-home .ilast {
	margin-right:0;
}

#smart-home span{
	display: block;
	text-align: center;
	margin-top: 38px;
}

#smart-home a {
	display: block;
	margin: 7px auto 24px;
	background: url(../images/small_arrow.png) no-repeat;
	width:30px;
	height:30px;
	border-radius: 30px;
}

#smart-home h1 {
	display: block;
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	color:#000;
	
}
#smart-home h2 {
	display: block;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	color:#b0b0b0;
    line-height: 28px;
}
#smart-home p {
	display: block;
	text-align:center;
	font-size: 12px;
	line-height: 22px;
	margin-top: 24px;
	font-weight: normal;
	color:#999999;
}







#case-presentation_wrap{
	height: 540px;
	position: relative;
    background: url(../images/p1.png);
}

#case-presentation {
	width:1000px;
	height: 496px;
	padding-top: 44px;
	position: absolute;
	top: 50%;
	margin-top: -270px;
	left:50%;
	margin-left: -500px;
	z-index: 9999;

}

#black {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 540px;
	background: url(../images/blacks.png);

}



#case-presentation .box {
	display: block;
	float:left;
	overflow: hidden;
}


#case-presentation .first {
	margin-top:29px;
}


#case-presentation .box {
	display: block;
	width: 240px;
	height: 140px;
	margin: 6px 6px 6px 6px;
	width: 240px;
	height: 140px;
}


#case-presentation .pfirst {
	margin-left: 0;
}

#case-presentation .plast {
	margin-right: 0;
}

#case-presentation a {
	display: block;
	margin: 7px auto 24px;
	background: url(../images/small_arrow.png) no-repeat;
	width:30px;
	height:30px;
	border-radius: 30px;
}

#case-presentation h1 {
	display: block;
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	color:#fff;
}


#case-presentation h2 {
	display: block;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	color:#b0b0b0;
    line-height: 28px;
}
#case-presentation p {
	display: block;
	text-align:center;
	font-size: 12px;
	line-height: 22px;
	margin-top: 24px;
	font-weight: normal;
	color:#999999;
}





#fcreate-energy_wrap{
	height: 540px;
    background:url(../images/fcreate_bg.png) no-repeat center bottom;
}

#fcreate-energy {
	margin:0 auto;
	width:1000px;
	height: 496px;
	padding-top: 44px;
	background: url(../images/person.png) no-repeat center bottom;
}



#fcreate-energy a {
	display: block;
	margin: 7px auto 24px;
	background: url(../images/small_arrow.png) no-repeat;
	width:30px;
	height:30px;
	border-radius: 30px;
}

#fcreate-energy h1 {
	display: block;
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	color:#000;
	
}
#fcreate-energy h2 {
	display: block;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	color:#b0b0b0;
    line-height: 28px;
}
#fcreate-energy p {
	position: relative;
	display: block;
	text-align:center;
	font-size: 12px;
	line-height: 22px;
	margin-top: 24px;
	font-weight: normal;
	color:#999999;
}




#frontier-information_wrap{
	height: 540px;
	background:url(../images/Frontier_bg.png);
}

#frontier-information {
	margin:0 auto;
	width:1000px;
	height: 496px;
	padding-top: 42px;
	position: relative;
}


#frontier-information a {
	display: block;
	margin: 8px auto 24px;
	background: url(../images/small_arrow.png) no-repeat;
	width:30px;
	height:30px;
	border-radius: 30px;
}

#frontier-information h1 {
	display: block;
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	color:#fff;
	
}
#frontier-information h2 {
	display: block;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	color:#b0b0b0;
    line-height: 26px;
}

#frontier-information h3 {
	color:#000;
	font-size: 14px;
	line-height: 26px;
}


#frontier-information .t1,
#frontier-information .t2,
#frontier-information .t3,
#frontier-information .t4{
	position: absolute;
	width: 460px;
	font-size: 14px;
}




#frontier-information .p1,
#frontier-information .p2,
#frontier-information .p3,
#frontier-information .p4{
	position: absolute;
	font-size: 12px;
	color: #fff;
	width: 460px;
	line-height: 18px;
}


#frontier-information .t1{
	top: 256px;
	right: 0;
	text-align: left;
}

#frontier-information .p1{
	margin-top: 9px;
	top: 274px;
	right: 0;
	text-align: left;
}


#frontier-information .t2{
	top: 326px;
	left: 0;
	text-align: right;
}

#frontier-information .p2{
	margin-top: 9px;
	top: 350px;
	left: 0;
	text-align: right;
}


#frontier-information .t3{
	top: 400px;
	right: 0;
	text-align: left;
}

#frontier-information .p3{
	margin-top: 9px;
	top: 421px;
	right: 0;
	text-align: left;
}


#frontier-information .t4{
	top: 474px;
	left: 0;
	text-align: right;
}

#frontier-information .p4{
	margin-top: 9px;
	top: 496px;
	left: 0;
	text-align: right;
}



#frontier-information .zw {
	display: block;
	text-align:center;
	font-size: 12px;
	line-height: 20px;
	margin-top: 24px;
	font-weight: normal;
	color:#fff;
}


#frontier-information .cir {
	width:31px;
	height: 31px;
	border-radius: 31px;
	border:2px solid #fff;
	background: #01a6de;
	margin:0 auto;
}

#frontier-information .line {
	width:2px;
	height: 37px;
	background: #fff;
	margin:0 auto;
}


#frontier-information .circle1{
	margin-top:52px;
	background:url(../images/file.png) no-repeat center center;
}

#frontier-information .circle3{
	background:url(../images/file.png) no-repeat center center;
}


#frontier-information .circle2,
#frontier-information .circle4{
	background:url(../images/polaroid.png) no-repeat center center;
}




#joined-cooperation_wrap{
	height: 540px;
	background:url(../images/join_bg.png);
}

#joined-cooperation {
	position: relative;
	margin:0 auto;
	width:1000px;
	height: 496px;
	padding-top: 44px;
	background:url(../images/line.png) no-repeat 42px 208px;
}


#joined-cooperation a {
	display: block;
	margin: 7px auto 24px;
	background: url(../images/small_arrow.png) no-repeat;
	width:30px;
	height:30px;
	border-radius: 30px;
}

#joined-cooperation h1 {
	display: block;
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	color:#000;
	
}
#joined-cooperation h2 {
	display: block;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	color:#b0b0b0;
    line-height: 28px;
}
#joined-cooperation p {
	display: block;
	text-align:center;
	font-size: 12px;
	line-height: 22px;
	margin-top: 24px;
	font-weight: normal;
	color:#999999;
}

#joined-cooperation .title1 {
	position: absolute;
	top: 90px;
	color: #0a0b08;
	font-size: 12px;
}

#joined-cooperation .title2 {
	position: absolute;
	top: 100px;
	width: 94px;
	text-align: center;
	color: #0a0b08;
	font-size: 12px;
}

#joined-cooperation .title3 {
	position: absolute;
	top: 158px;
	width: 150px;
	text-align: center;
	color: #0a0b08;
	font-size: 12px;
}

#joined-cooperation .title4 {
	position: absolute;
	top: 94px;
	width: 78px;
	text-align: center;
	color: #0a0b08;
	font-size: 12px;
}

#joined-cooperation .title5 {
	position: absolute;
	top: 92px;
	left: -10px;
	width: 96px;
	text-align: center;
	color: #0a0b08;
	font-size: 12px;
}

#joined-cooperation .title6 {
	position: absolute;
	top: 74px;
	width: 48px;
	text-align: center;
	color: #0a0b08;
	font-size: 12px;
}

#joined-cooperation .title7 {
	position: absolute;
	top: 90px;
	width: 78px;
	text-align: center;
	color: #0a0b08;
	font-size: 12px;
}




#joined-cooperation .one{
	position: absolute;
	top: 170px;
	width: 74px;
	height: 74px;
	border-radius: 74px;
	border: 1px solid #b0b0b0;
}

#joined-cooperation .one .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -19px 0 0 -19px;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	border: 1px solid #b0b0b0;
	background: #a3e8ff;
}


#joined-cooperation .one .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-11px 0 0 -11px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid #b0b0b0;
	background: #01a6de;
}



#joined-cooperation .two{
	position: absolute;
	top: 323px;
	width: 92px;
	height: 92px;
	border-radius: 92px;
	border: 1px solid #b0b0b0;
	left:140px;

}

#joined-cooperation .two .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	border: 1px solid #b0b0b0;
	background: #82d3ff;
}


#joined-cooperation .two .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-14px 0 0 -14px;
	width: 26px;
	height: 26px;
	border-radius: 26px;
	border: 1px solid #b0b0b0;
	background: #005e91;
}





#joined-cooperation .three{
	position: absolute;
	top: 203px;
	left:274px;
	width: 148px;
	height: 148px;
	border-radius: 148px;
	border: 1px solid #b0b0b0;
	

}

#joined-cooperation .three .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -39px 0 0 -39px;
	width: 76px;
	height: 76px;
	border-radius: 76px;
	border: 1px solid #b0b0b0;
	background: #fdd28f;
}


#joined-cooperation .three .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-22px 0 0 -22px;
	width: 42px;
	height: 42px;
	border-radius: 42px;
	border: 1px solid #b0b0b0;
	background: #f29400;
}



#joined-cooperation .four{
	position: absolute;
	top: 377px;
	left:468px;
	width: 76px;
	height: 76px;
	border-radius: 76px;
	border: 1px solid #b0b0b0;
	

}

#joined-cooperation .four .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -19px 0 0 -19px;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	border: 1px solid #b0b0b0;
	background: #ffb992;
}


#joined-cooperation .four .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-11px 0 0 -11px;
	width: 20px;
	height: 20px;
	border-radius: 42px;
	border: 1px solid #b0b0b0;
	background: #d75710;
}

#joined-cooperation .five{
	position: absolute;
	top: 256px;
	left:624px;
	width: 76px;
	height: 76px;
	border-radius: 76px;
	border: 1px solid #b0b0b0;
	

}

#joined-cooperation .five .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -19px 0 0 -19px;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	border: 1px solid #b0b0b0;
}


#joined-cooperation .five .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-11px 0 0 -11px;
	width: 20px;
	height: 20px;
	border-radius: 42px;
	border: 1px solid #b0b0b0;
	background: #01a6de;
}



#joined-cooperation .six{
	position: absolute;
	top: 338px;
	left:814px;
	width: 44px;
	height: 44px;
	border-radius: 44px;
	border: 1px solid #b0b0b0;
	

}

#joined-cooperation .six .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	border: 1px solid #b0b0b0;
}


#joined-cooperation .six .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-7px 0 0 -7px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	border: 1px solid #b0b0b0;
	background: #f29400;
}





#joined-cooperation .seven{
	position: absolute;
	top: 202px;
	left:960px;
	width: 76px;
	height: 76px;
	border-radius: 76px;
	border: 1px solid #b0b0b0;
	

}

#joined-cooperation .seven .cir2{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -19px 0 0 -19px;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	border: 1px solid #b0b0b0;
}


#joined-cooperation .seven .cir3{
	position: absolute;
	top:50%;
	left:50%;
	margin:-11px 0 0 -11px;
	width: 20px;
	height: 20px;
	border-radius: 42px;
	border: 1px solid #b0b0b0;
	background: #01a6de;
}



#contact_wrap{
	height: 540px;
	background:url(../images/contact_bg.png);
}

#contact {
	margin:0 auto;
	width:1000px;
	height: 496px;
	padding-top: 41px;
}


#contact a {
	display: block;
	margin: 5px auto 24px;
	background: url(../images/small_arrow.png) no-repeat;
	width:30px;
	height:30px;
	border-radius: 30px;
}

#contact h1 {
	display: block;
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	color:#fff;
	
}
#contact h2 {
	display: block;
	text-align:center;
	font-size: 18px;
	font-weight: normal;
	color:#b0b0b0;
    line-height: 28px;
}
#contact .all_before {
	display: block;
	text-align:center;
	font-size: 12px;
	line-height: 78px;
	margin-top: -29px;
	font-weight: normal;
	color:#fff;
}


/* 清浮动 */
.clear {
	zoom:1;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}

/* --------------- */

.ct_left {
	float: left;
	width: 465px;
	height: 300px;
}

.ct_left input {
	width: 450px;
}


.input {
	padding-left: 19px;
	border: none;
	border-bottom: 1px solid #0878aa;
	color: #e5e5e5;
	font-size: 12px;
}

.text1 {
	height: 40px;
	background: #5bb3e2;
}


.text2 {
	height: 40px;
	background: #fff;
	color: #bbb;
}

.ct_left button {
	border: none;
	background: #f29400;
	width: 469px;
	height: 40px;
	font-size: 16px;
	color:#fff;
}

#contact textarea {
	border:none;
	height:125px;
	width: 448px;
	background: #5bb3e2;
	font-size: 12px;
	color: #e5e5e5;
	padding-left: 19px;
	resize: none;

}



.ct_right {
	float: right;
	width: 486px;
	height: 300px;
}


.ct_right p {
	height: 42px;
	line-height: 42px;
	margin-left: 24px;
	font-size: 12px;
	color: #fff;
	float:right;
	text-align: left;

}


.ct_right .bg0 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/map.png) #5bb3e2 no-repeat center center;
}

.ct_right .test0 {
	float:left;
}

.ct_right .bg1 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/phone_bin.png) #5bb3e2 no-repeat center center;
}

.ct_right .test1 {
	float:left;
}

.ct_right .bg2 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/phone_bin.png) #5bb3e2 no-repeat center center;
}

.ct_right .test2 {
	float:left;
}

.ct_right .bg3 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/bphone.png) #5bb3e2 no-repeat center center;
}

.ct_right .test3 {
	float:left;
}

.ct_right .bg4 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/massage.png) #5bb3e2 no-repeat center center;
}

.ct_right .test4 {
	float:left;
}

.ct_right .bg5 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/massage.png) #5bb3e2 no-repeat center center;
}


.ct_right .test5 {
	float:left;
}


.ct_right .bg6 {
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #0878aa;
	float: left;
	background: url(../images/chorme.png) #5bb3e2 no-repeat center center;
}

.ct_right .test6 {
	float:left;
}




#footer_wrap {
	position: relative;
	height:40px;
	background:#000;
}

#footer_wrap p{
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 12px;

}


