/*task1*/
body
{
	width: 1920px;
}
#nav/*导航栏块*/
{
	width:1920px;
	height:60px;
	position: relative;
	background:#0a0b08;
}
#nav img/*导航栏左边的图片*/
{
	position:absolute;
	top:4px;
	left:458px; 
}
#nav ul/*导航栏右边的列表*/
{
	height:60px;
	position: absolute;
	top:0px;
	left:858px;
}
#nav li/*导航栏右边的列表项*/
{
	width:90px;
	height:60px;
	margin-right: 14px;
	float:left;
}
#nav a/*导航栏右边列表项的链接*/
{
	width:90px;
	height:60px;
	display:inline-block;
	line-height:60px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:16px;
	color:#01a6de;
}
#nav a:hover/*导航栏右边列表项链接的鼠标悬停*/
{
	background:url(../Images/anv-li.png);
}
.active
{
	background:url(../Images/anv-li.png);
}
#ad/*广告栏*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:url(../Images/ad-bg.png);
}
#arrow/*箭头图像*/
{
	position: absolute;
	top:108px;
	left:344px;
}
.butler/*智慧电管家*/
{
	position: absolute;
	top:150px;
	left:456px;
	font-family:"微软雅黑";
	font-size:40px;
	color:#ffffff;
}
.master/*不仅仅是智能家居，还是您身边的智慧节能大师*/
{
	position: absolute;
	top:202px;
	left:456px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#ffffff;
}
.details/*查看详情*/
{
	width:121px;
	height:41px;
	position: absolute;
	top:246px;
	left:456px;
	text-align:center;	
	background:url(../Images/Detail.png);
}
.details a/*查看详情的链接*/
{
	line-height:41px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#ffffff;
}
.details a:hover
{
    color:#999999;
}
#iphone/*手机图像*/
{
	position: absolute;
	top:76px;
	left:1156px;
}
#IntelligentFurnishing/*智能家居块*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:#ffffff;
}
.furnishing/*智能家居文本*/
{
	position: absolute;
	top:42px;
	left:898px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#0a0b08;
}
.SmartHome/*Smart home*/
{
	position: absolute;
	top:78px;
	left:906px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#999999;
}
#round1/*圆形图像*/
{
	position: absolute;
	top:104px;
	left:944px;
}
.IntelligentFamily/*未来五年....不能上网的的住宅一样不符合潮流*/
{
	position: absolute;
	top:160px;
	left:738px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
#polygon1/*多边形1*/
{
	position: absolute;
	top:290px;
	left:460px;
}
#polygon2/*多边形2*/
{
	position: absolute;
	top:290px;
	left:754px;
}
#polygon3/*多边形3*/
{
	position: absolute;
	top:290px;
	left:1046px;
}
#polygon4/*多边形4*/
{
	position: absolute;
	top:290px;
	left:1338px;
}
.brain/*最强大脑*/
{
	position: absolute;
	top:446px;
	left:490px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#0a0b08;
}
.eye/*大开眼界*/
{
	position: absolute;
	top:446px;
	left:782px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#0a0b08;
}
.help/*智能帮手*/
{
	position: absolute;
	top:446px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#0a0b08;
}
.bodyguard/*安全卫士*/
{
	position: absolute;
	top:446px;
	left:1368px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#0a0b08;
}
#CaseShow/*案例展示块*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:#060505;
}
.show/*案例展示文本*/
{
	position: absolute;
	top:42px;
	left:898px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#ffffff;
}
.CasePresentation/*Case presentation*/
{
	position: absolute;
	top:78px;
	left:884px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#999999;
}
#round2/*圆形图像*/
{
	position: absolute;
	top:104px;
	left:944px;
}
.terrace1/*致力于提供优质的智慧型智能家居平台*/
{
	position: absolute;
	top:160px;
	left:856px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
.terrace2/*运用领域广，小区、别墅、高端楼宇等等，让科技之光遍布每一个角落*/
{
	position: absolute;
	top:180px;
	left:774px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
#CasePicture/*案例展示图片块*/
{
	width:1016px;
	height:306px;
	left:394px;
	position: absolute;
	top:234px;
	left:458px;
}
#CasePicture li/*案例展示图片列表项*/
{
	width:240px;
	height:140px;
	display:inline-block;
	margin-right:12px;
	margin-bottom:12px;
	float:left;
}
#OriginalitySource/*致创能源块*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:url(../Images/energy-bg.png);
}
.source/*致创能源文本*/
{
	position: absolute;
	top:42px;
	left:898px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#0a0b08;
}
.FcreateEnergy/*Fcreate energy*/
{
	position: absolute;
	top:78px;
	left:898px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#999999;
}
#round3/*圆形图像*/
{
	position: absolute;
	top:104px;
	left:944px;
}
.life1/*专“致”能源管理，共“创”智慧生活*/
{
	position: absolute;
	top:154px;
	left:858px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
.life2/*一支专致的硬件研发团队......一支高效的企业管理团队*/
{
	position: absolute;
	top:174px;
	left:678px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
#people
{
	position: absolute;
	top:249px;
	left:628px;
}
#FrontierConsult/*前沿资讯块*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:url(../Images/asked.png);
}
.consult/*前沿资讯块文本*/
{
	position: absolute;
	top:42px;
	left:898px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#ffffff;
}
.FrontierInformation/*Frontier information*/
{
	position: absolute;
	top:78px;
	left:872px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#999999;
}
#round4/*圆形图像*/
{
	position: absolute;
	top:104px;
	left:944px;
}
.technology1/*体验智能科技，畅享人性家居*/
{
	position: absolute;
	top:154px;
	left:880px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#ffffff;
}
.technology2/*第一时间快递科技要文，全方位、多视角畅想智能家居的体验*/
{
	position: absolute;
	top:174px;
	left:796px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#ffffff;
}
.p1/*互联网时代的智能照明发展趋势*/
{
	position: absolute;
	top:328px;
	left:730px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#000000;
}
.p2/*近期，厦门致创能源技术有限公....司副总裁孙泉*/
{ 
	position: absolute;
	top:350px;
	left:476px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#dddddd;
}
.p3/*智能照明控制系统 在办公楼中功能和优点*/
{
	position: absolute;
	top:474px;
	left:668px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#000000;
}
.p4/*智能照明控制系统能成功地延长灯具寿命2-4倍*/
{
	position: absolute;
	top:496px;
	left:676px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#dddddd;
}
#icon/*前沿资讯块中下边的图像*/
{
	width:2px;
	height:292px;
	position:absolute;
	top:248px;
	left:960px;
	background:#ffffff;
}
#picture1
{
	position:absolute;
	top:248px;
	left:942px;
}
#picture2
{
	position:absolute;
	top:320px;
	left:942px;
}
#picture3
{
	position:absolute;
	top:390px;
	left:942px;
}
#picture4
{
	position:absolute;
	top:466px;
	left:942px;
}
.p5/*智能家居标准出台 智能家居市场有望突破瓶颈*/
{
	position: absolute;
	top:256px;
	left:998px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#000000;
}
.p6/*而据前瞻研究院发....市场规模将高*/
{
	position: absolute;
	top:282px;
	left:998px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#dddddd;
}
.p7/*我国智能照明系统应用行业所占比例评估*/
{
	position: absolute;
	top:400px;
	left:998px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#000000;
}
.p8/*厦门市致创能源技术有限公司，在今年10月份推出了新的产品线--智能电管家系列。*/
{
	position: absolute;
	top:424px;
	left:998px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#dddddd;
}
#LeagueCooperate/*合作加盟块*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:url(../Images/cooperate-layer.png);
}
#cooperate-bg/*合作加盟93%透明背景*/
{
	width:1920px;
	height:540px;
	background:#ffffff;
	opacity:0.93;
}
.source/*合作加盟文本*/
{
	position: absolute;
	top:42px;
	left:898px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#0a0b08;
}
.JoinedCooperation/*Joined cooperation*/
{
	position: absolute;
	top:78px;
	left:875px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#999999;
}
#round5/*圆形图像*/
{
	position: absolute;
	top:104px;
	left:944px;
}
.prodcut1/*掌握关键核心技术，代工生产*/
{
	position: absolute;
	top:154px;
	left:882px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
.prodcut2/*强手联合，合作共赢，共创智能家居新格局*/
{
	position: absolute;
	top:174px;
	left:846px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}
#line/*圆之间的折线段*/
{
	width:990px;
	height:206px;
	position:absolute;
	top:207px;
	left:471px;
	background:url(../Images/line.png);
}
#R1w/*商务沟通洽谈圆图标的外层*/
{
	width:78px;
	height:78px;
	position:absolute;
	top:169px;
	left:431px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R1z/*商务沟通洽谈圆图标的中间层*/
{
	width:40px;
	height:40px;
	position:absolute;
	top:187px;
	left:450px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#a3e8ff;
}
#R1n/*商务沟通洽谈圆图标的内层*/
{
	width:22px;
	height:22px;
	position:absolute;
	top:196px;
	left:459px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#01a6de;
}
#R2w/*达成合作圆图标的外层*/
{
	width:94px;
	height:94px;
	position:absolute;
	top:323px;
	left:566px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R2z/*达成合作圆图标的中间层*/
{
	width:48px;
	height:48px;
	position:absolute;
	top:347px;
	left:590px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#82d3ff;
}
#R2n/*达成合作圆图标的内层*/
{
	width:22px;
	height:22px;
	position:absolute;
	top:359px;
	left:603px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#005e91;
}
#R3w/*软件APP定制圆图标的外层*/
{
	width:148px;
	height:148px;
	position:absolute;
	top:202px;
	left:701px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R3z/*软件APP定制圆图标的中间层*/
{
	width:76px;
	height:76px;
	position:absolute;
	top:237px;
	left:738px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#fdd28f;
}
#R3n/*软件APP定制圆图标的内层*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:255px;
	left:756px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#f29400;
}
#R4w/*研发测试圆图标的外层*/
{
	width:76px;
	height:76px;
	position:absolute;
	top:376px;
	left:896px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R4z/*研发测试圆图标的中间层*/
{
	width:40px;
	height:40px;
	position:absolute;
	top:394px;
	left:915px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#ffb992;
}
#R4n/*研发测试圆图标的内层*/
{
	width:22px;
	height:22px;
	position:absolute;
	top:404px;
	left:924px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#d75710;
}
#R5w/*小批量OEM生产圆图标的外层*/
{
	width:76px;
	height:76px;
	position:absolute;
	top:256px;
	left:1050px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R5z/*小批量OEM生产圆图标的中间层*/
{
	width:40px;
	height:40px;
	position:absolute;
	top:274px;
	left:1069px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R5n/*小批量OEM生产圆图标的内层*/
{
	width:22px;
	height:22px;
	position:absolute;
	top:284px;
	left:1078px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#01a6de;
}
#R6w/*产品校验圆图标的外层*/
{
	width:45px;
	height:45px;
	position:absolute;
	top:338px;
	left:1241px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R6z/*产品校验圆图标的中间层*/
{
	width:23px;
	height:23px;
	position:absolute;
	top:349px;
	left:1252px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R6n/*产品校验圆图标的内层*/
{
	width:13px;
	height:13px;
	position:absolute;
	top:354px;
	left:1258px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#f29400;
}
#R7w/*正式量产圆图标的外层*/
{
	width:76px;
	height:76px;
	position:absolute;
	top:180px;
	right:422px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R7z/*正式量产圆图标的中间层*/
{
	width:40px;
	height:40px;
	position:absolute;
	top:198px;
	right:440px;
	border:1px solid #d9d9d9;
	border-radius:50%;
}
#R7n/*正式量产圆图标的内层*/
{
	width:22px;
	height:22px;
	position:absolute;
	top:208px;
	right:448px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	background:#01a6de;
}
.LCp1/*商务沟通洽谈*/
{
	position: absolute;
	top:258px;
	left:430px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
.LCp2/*达成合作*/
{
	position: absolute;
	top:420px;
	left:586px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
.LCp3/*软件APP定制*/
{
	position: absolute;
	top:360px;
	left:736px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
.LCp4/*研发测试*/
{
	position: absolute;
	top:466px;
	left:908px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
.LCp5/*小批量OEM生产*/
{
	position: absolute;
	top:346px;
	left:1040px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
.LCp6/*产品校验*/
{
	position: absolute;
	top:410px;
	left:1238px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
.LCp7/*正式量产*/
{
	position: absolute;
	top:270px;
	left:1434px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#0a0b08;
}
#ContactUs/*联系我们块*/
{
	width:1920px;
	height:540px;
	position: relative;
	background:url(../Images/contentus-bg.png);
}
#ContactUs-bg/*联系我们94%透明背景*/
{
	width:1920px;
	height:540px;
	background:#0f88bb;
	opacity:0.94;
}
.us/*联系我们文本*/
{
	position: absolute;
	top:42px;
	left:898px;
	font-family:"微软雅黑";
	font-size:30px;
	color:#ffffff;
}
.ContactUs/*Contact us*/
{
	position: absolute;
	top:78px;
	left:914px;
	font-family:"微软雅黑";
	font-size:18px;
	color:#999999;
}
#round6/*圆形图像*/
{
	position: absolute;
	top:104px;
	left:944px;
}
.demand/*在一切开始之前，先说说您的需求吧*/
{
	position: absolute;
	top:154px;
	left:864px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#ffffff;
}
#name/*你的姓名：*/
{
	width:458px;
	height:42px;
	position:absolute;
	top:206px;
	left:460px;
	background:#5bb3e2;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
#name form
{
	margin-left:26px;
}
#name input
{
	width:350px;
	height:42px;
	border: none;
	background:#5bb3e2;
	outline:none;
}
#tel/*你的联系电话：*/
{
	width:458px;
	height:42px;
	position:absolute;
	top:250px;
	left:460px;
	background:#ffffff;
	font-family:"微软雅黑";
	font-size:12px;
	color:#bbbbbb;
}
#tel form
{
	margin-left:26px;
}
#tel input
{
	width:340px;
	height:42px;
	border: none;
	background:#ffffff;
	outline:none;
}
#email/*你的邮箱：*/
{
	width:458px;
	height:42px;
	position:absolute;
	top:294px;
	left:460px;
	background:#5bb3e2;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
#email form
{
	margin-left:26px;
}
#email input
{
	width:350px;
	height:42px;
	border: none;
	background:#5bb3e2;
	outline:none;
}
#need/*详情需求描述：*/
{
	width:458px;
	height:128px;
	position:absolute;
	top:338px;
	left:460px;
	background:#5bb3e2;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
#need form
{
	margin-left:26px;
}
#need input
{
	width:340px;
	height:42px;
	border: none;
	background:#5bb3e2;
	outline:none;
}
#submit input/*提交*/
{
	width:458px;
	height:42px;
	position:absolute;
	top:468px;
	left:460px;
	background:#f29400;
	border:none;
	font-family:"微软雅黑";
	font-size:16px;
	color:#ffffff;
}
#ContactUs input
{
	font-family:"微软雅黑";
	font-size:16px;
	color:#ffffff;
}
#d1/*地址图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:208px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d1 img
{
	margin-top:9px;
}
#d2/*热线图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:251px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d2 img
{
	margin-top:9px;
}
#d3/*电话图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:294px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d3 img
{
	margin-top:9px;
}
#d4/*传真图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:337px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d4 img
{
	margin-top:9px;
}
#d5/*邮编图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:380px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d5 img
{
	margin-top:9px;
}
#d6/*邮箱图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:423px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d6 img
{
	margin-top:9px;
}
#d7/*网址图标*/
{
	width:42px;
	height:42px;
	position:absolute;
	top:467px;
	left:1010px;
	background:#5bb3e2;
	text-align:center;
}
#d7 img
{
	margin-top:9px;
}
.h1/*地址：厦门市思明区软件园二期望海路16号之三 3楼*/
{
	position:absolute;
	top:222px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
.h2/*热线：400-855-0091*/
{
	position:absolute;
	top:265px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
.h3/*电话：86-0592-5955168*/
{
	position:absolute;
	top:308px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
.h4/*传真：86-0592-5146486*/
{
	position:absolute;
	top:350px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
.h5/*邮编：361000*/
{
	position:absolute;
	top:396px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
.h6/*邮箱：sales@f-create.com.cn*/
{
	position:absolute;
	top:438px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
.h7/*网址：http://www.fcreate.com.cn*/
{
	position:absolute;
	top:480px;
	left:1076px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#e5e5e5;
}
#footer/*底部块*/
{
	width:1920px;
	height:36px;
	background:#0a0b08;
	text-align:center;
}
#footer p/*底部文本*/
{
	line-height:36px;
    font-family:"微软雅黑";
	font-size:12px;
	color:#ffffff;
}
