body, p, h1, h2, h3, h4, h5, h6, dl, dd { 
	margin:0;
}
a { 
	text-decoration: none;
}
ol, ul { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
}
img {
 	border: none;
}   

#box {
	width:3000px;
	height: 800px;
	padding-top: 200px;
	padding-left: 200px;
	background: url(image/bg.png) no-repeat 200px;
}

#time {

	position: absolute;
	top: 400px;
	left: 256px;
	width: 200px;
	height: 80px;
	font-size: 54px;
	font-family: '微软雅黑';
	color: #ccc;
}

#date {
	
	position: absolute;
	top: 490px;
	left: 266px;
	width: 140px;
	height: 30px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #fff;
}
#content {
	position: absolute;
	top: 360px;
	left:480px;
	width: 300px;
	height: 160px;
	overflow: hidden;
}
#content_right {
	position: relative;
	top: 0;
	left:0;
	width: 320px;
	height: 160px;
}
#content_right li {
	float: left;
/*	background: #fff;*/
	width: 299px;
	height: 160px;	

}

#content_right .temp {
	font-size: 80px;
	font-family: '微软雅黑';
	line-height: 130px;
	color: #ccc;
}
#content_right .weather {
	font-size: 24px;
	text-align: center;
	font-family: '微软雅黑';
	line-height: 30px;
	color: #ccc;
}


/*
#temp {
	background: #fff;
	position: absolute;
	top: 360px;
	left: 560px;
	width: 170px;
	height: 144px;
}
l
#weather {
	background: #fff;
	position: absolute;
	top: 510px;
	left: 560px;
	width: 140px;
	height: 30px;
}*/
#bottom {
	position: relative;
	top: 354px;
	height: 128px;
	width: 594px;
	height: 128px;
	overflow: hidden;
}

#bottom div{
	display: inline;
	float: left;
	width: 594px;
	height: 128px;
	font-size: 22px;
	font-family: 'Myriad Pro';
	font-weight: normal;
	color: #fff;
	background: #ccc;
  	overflow: hidden;
} 

#bottom .day {
	background: url(image/bottom_bg.png) no-repeat 0px;
}
.day ul {
	
	margin-top: 20px;
	width: 148px;
	height: 108px;
	float: left;
}


#bottom .day li {
	line-height: 46px;
	text-align: center;

}