body,div,input,h2,h3,span
{
    margin: 0;
    padding: 0;

    list-style: none;
}
body
{
    font-size: 18px;

    text-align: center;

    background: #464646;
}
input
{
    display: inline-block;

    width: 40px;
    height: 30px;
    margin: 0 10px 0 0;
    padding: 0 10px;

    border: none;
}

#btn
{
    font-weight: bold;

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 50px;
    outline: medium;
    background: #a6c628;
}

#btn:hover
{
    background: red;
}

#wrap
{
    margin: 100px auto;
}

h3
{
    font-size: 30px;

    margin-bottom: 20px;
}

#now
{
    color: #3287d0;
}

#time
{
    font-size: 50px;

    color: #3287d0;
}

#setTime
{
    font-size: 20px;
    font-weight: bold;

    margin: 30px 0;

    color: #a6c628;
}

#lostTime
{
    font-size: 50px;
    font-weight: bold;

    margin: 50px auto;

    color: red;
}

#lostTime span
{
    display: inline-block;

    margin-left: 15px;
}
