div,section,h2,h3,p,button {
    margin: 0;
    padding: 0;
}
.all {
    margin-top: 50px;
    margin-left: 450px;
    position: relative;
    width: 700px;
    overflow: hidden;
    height: 450px;
}
.all:hover .btn button{
    display: inline;
}

.carousel {
    height: 450px;
}

.images {
    font-size: 0;
    width: 10000px;
    height: 450px;
    position: absolute;
}
section {
    width: 300px;
    font-size: 20px;
    background-color: #f0fcff;
    margin-top: 10px;
    height: 410px;
    padding: 20px;
    float: left;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: green;
    font-size: 15px;
}
a:hover {
    color: #fa6f13;
}
h3 {
    display: inline-block;
    width: 200px;
}
.name:hover{
    color: #ff0000;
}
.name {
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #fa6f13;
    cursor: pointer;
}
.id {
    text-align: right;
    font-size: 10px;
}
.description {
    font-size: 20px;
    width: 300px;
    height: 184px;    
    border:0;  
    background-color:transparent;  
    color: #666464;   
}
button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 34px;
    cursor: pointer;
    display: none;
    border: none;
    opacity: 0.7;
}

button:focus {
    outline: none;
}
.left {
    position: relative;
    top: -250px;
    left: 60px;
}

.right {
    position: relative;
    top: -250px;
    left: 556px;
}
.point {
    position: absolute;
    top: 424px;
    left: 188px;
    width: 324px;
    display: inline-block;
    outline: none;
}
span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #303233;
    cursor: pointer;
    border: 1px solid #5a5c5d;
}
.span-hover {
    background-color: #fa6f13;
}
