body,div,ul,li,input,button,img,a,select,p,hr,dl,dt,dd
,option{margin: 0;padding: 0;}
body{
	font-family: 微软雅黑;
	font-size: 14px;
}
a{text-decoration: none;}
ul{list-style: none;}
li{float: left;}

/*header*/
.header{
	height: 60px;
	width: auto;
	background-color: #f5f5f5;
}
.header_content{
	height: 60px;
	width: 970px;
	margin: 0 auto;
}
.header_logo img{
	float: left;
	margin-top: 19px;
}
.header_search{
	float: left;
	height: 40px;
	width: 330px;
	margin-top: 10px;
	margin-left: 180px;
}
.header_search input{
	float: left;
	height: 36px;
	border: 2px solid #9f9f9f;
	border-right: none;
	width: 230px;
	outline: none;
}
.header_search button{
	height: 40px;
	width: 90px;
	border: none;
	background-image: url(img/search_background.png);
	cursor: pointer;
}
.header_content ul{
	float: left;
	height: 60px;
	width: 300px;
	line-height: 60px;
	color: #545454;
	margin-left: 18px;
}
.header_content ul li{margin-left: 28px;}
.header_content>ul>li a{
	color: #545454;
}

/*nav*/
.nav{
	height: 31px;
	border-bottom: 3px solid #e5e5e5;
	width: 970px;
	margin: 0 auto;
	padding-top: 20px;
}
.nav_left{
	margin-left: -19px;
}
.nav_left a{
	font-size: 16px;
	color: #555;
}
.nav_left>li>a:hover,.nav_hovered a
,.nav_right>li>a:hover{
	color: #05a6e0;
	padding-bottom: 10px;
	border-bottom: 3px solid #05a6e0;
} 
.nav_left>li{margin-left: 19px;}
.nav_down i{
	height: 10px;
	width: 10px;
	display: inline-block;
	background-image: url(img/nav_down.png);
	background-repeat: no-repeat;
	background-position: 2px 5px;
}
.nav_down,.nav_left_last{margin-top: 2px;}
.nav_down>a,.nav_left_last>a{font-size: 14px;}
.nav_right>li{
	float: right;
	margin-left: 19px;
}
.nav_right>li>a{
	font-size: 16px;
	color: #555;
}

/*headpage*/
.headpage{
	height: 370px;
	width: 970px;
	margin: 20px auto;
}
.headpage_left{
	float: left;
	width: 440px;
	height: 370px;
}
.headpage_left_top{
	display: block;
	height: 240px;
	width: 420px;
	background-image: url(img/headpage_left_top.png);
}
.headpage_left_top p{
	position: absolute;
	font-size: 16px;
	color: #fff;
	margin-top: 197px;
	margin-left: 76px;
}
.headpage_left_top ul{
	position: absolute;
	margin-left: 75px;
	margin-top: 222px;
	color: #fff;
	font-size: 12px;
	font-family: 宋体;
}
.headpage_left_top ul li{margin-right: 5px;}
.headpage_center>li>a,
.headpage_left_bottom>li>a{
	display: block;
	margin-top: 20px;
	margin-right: 20px;
	width: 200px;
	height: 110px;
	background-image: url(img/headpage_center.png);
}
.headpage_left_bottom>li>a p{
	position: absolute;
	font-size: 14px;
	color: #fff;
	margin-top: 93px;
	margin-left: 4px;
}
.headpage_center{float: left;}
.headpage_center>li{
	clear: both;
}
.headpage_center>li>a{
	margin-top: 0;
	margin-bottom: 20px;
}
.headpage_right_top{
	display: block;
	float: right;
	width: 310px;
	height: 110px;
	background-image: url(img/headpage_right_top.png);
}
.headpage_right_bottom{
	float: right;
	display: block;
	width: 310px;
	height: 240px;
	background-image: url(img/headpage_right_bottom.png);
	margin-top: 20px;
}


/*personal*/
.personal{
	width: 970px;
	height: 240px;
	margin: 50px auto;
}
.personal_nav{
	height: 50px;
	width: 600px;
}
.personal_nav li{
	height: 30px;
	margin-top: 5px;
}
.personal_nav span{
	float: left;
	font-size: 26px;
	color: #8f8f8f;
	margin-right: 10px;
}
.personal_nav li a:hover,
.personal_nav>li .hovered{
	color: #fff;
	background-color: #05a6e0;
}
.personal_nav>li>a{
	padding: 5px 10px 5px 10px;
	line-height: 30px;
	font-size: 14px;
	color: #545454;
	margin-right: 5px;
}
.personal_content>li{
	height: 190px;
	width: 200px;
	background-color: #f5f5f5;
	margin-right: 20px;
}
.personal_content>li>a{
	display: block;
	width: 200px;
	height: 110px;
	background-image: url(img/personal_content.png);
}
.personal_content>li>a span{
	font-size: 14px;
	color: #dcdcdc;
	font-family: Arial;
	position: absolute;
	margin-left: 152px;
	margin-top: 94px;
}
.personal_content>li p{
	margin-top: 10px;
	font-size: 14px;
	color: #545454;
}
.personal_content>li>span{
	font-family: 宋体;
	font-size: 12px;
	color: #8d8d8d;
}
.personal_content .last{
	width: 90px;
	margin-right: 0;
}
.personal_content .last p{
	font-size: 18px;
	color: #605454;
	width: 45px;
	position: absolute;
	margin-top: 63px;
	margin-left: 29px;
}


/*thebese*/
.best{
	width: 970px;
	height: 370px;
	margin: 0 auto;
}
.best_nav{
	position: absolute;
	height: 30px;
	width: 300px;
	margin-top: 5px;
}
.best_nav>li>a{
	font-size: 20px;
	color: #545454;
	padding: 5px 20px 5px 20px;
	margin-right: 10px;
}
.best_nav li a:hover,
.best_nav>li .hovered{
	background-color: #05a6e0;
	color: #fff;
}
.best_left{
	float: left;
	width: 640px;
	height: 320px;
	margin-top: 50px;
}
.best_left_top{
	margin-left: -20px;
}
.best_left_top li{
	margin-left: 20px;
	height: 190px;
	width: 200px;
	background-image: url(img/best_left_top.png);
}
.best_left_top li .head{
	margin-left: 3px;
	margin-top: 95px;
	vertical-align: text-bottom;
}
.best_left_top li span{
	font-size: 12px;
	font-family: 宋体;
	color: #8f8f8f;
}
.best_left_top li p{
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #545454;
}
.best_left_top li tips{
	font-size: 12px;
	font-family: Arial;
	color: #8f8f8f;
	margin-left: 5px;
}
.best_left_bottom{margin-top: 20px;}
.best_right{
	margin-top: 30px;
	float: left;
	margin-left: 20px;
}
.best_right li{
	clear: left;
	height: 50px;
	width: 245px;
	margin-top: 18px;
}
.best_right li img{float: left;}
.best_right li p{
	float: left;
	font-size: 14px;
	color: #545454;
	margin-left: 10px;
}
.best_right li span{
	float: left;
	display: block;
	font-size: 12px;
	font-family: 宋体;
	color: #8f8f8f;
	margin-left: 10px;
}


/*Tvshow*/
.show{
	width: 970px;
	height: 420px;
	margin: 50px auto;
}
.show_nav{
	width: 970px;
	height: 30px;
}
.show_nav_left{
	float: left;
	height: 50px;
	width: 600px;
	margin-top: -5px;
}
.show_nav_left li{
	height: 30px;
	margin-top: 5px;
}
.show_nav_left span{
	float: left;
	font-size: 26px;
	color: #8f8f8f;
	margin-right: 10px;
}
.show_nav_left li a:hover,
.show_nav_right li a:hover,
.show_nav_left>li .hovered,
.show_nav_right>li .hovered{
	color: #fff;
	background-color: #05a6e0;
}
.show_nav_left>li>a,
.show_nav_right>li>a{
	padding: 5px 10px 5px 10px;
	line-height: 30px;
	font-size: 14px;
	color: #545454;
	margin-right: 5px;
}
.show_nav_right>li>a{margin-right: 6px;}
.show_nav_right{margin-right: -2px;}
.show_nav_right>li{float: right;}
.show_left{
	float: left;
	height: 370px;
	width: 420px;
	margin-top: 5px;
}
.show_left_top{
	display: block;
	height: 240px;
	width: 420px;
	background-image: url(img/show_left_top.png);
}
.show_left_top>p{
	position: absolute;
	font-size: 16px;
	color: #fff;
	margin-left: 6px;
	margin-top: 197px;
}
.show_left_top>span{
	font-size: 12px;
	font-family: 宋体;
	color: #bababa;
	position: absolute;
	margin-left: 6px;
	margin-top: 223px;
}
.show_left_bottom{margin-left: -20px;}
.show_left_bottom>li>a{
	display: block;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	width: 200px;
	height: 110px;
	background-image: url(img/headpage_center.png);
}
.show_left_bottom>li>a>p{
	position: absolute;
	font-size: 14px;
	color: #fff;
	margin-top: 93px;
	margin-left: 4px;
}
.show_right{
	height: 370px;
	width: 310px;
	float: right;
	margin-top: 5px;
}
.show_right_top{
	height: 140px;
	width: 310px;
}
.show_right_1{margin-top: -10px;}
.show_right_2{
	margin-top: -10px;
	margin-left: 90px;
}
.show_right_1 li,
.show_right_2 li{
	clear: left;
	margin-top: 10px;
}
.show_right_1 li a,
.show_right_2 li a{
	font-size: 14px;
	color: #545454;
}
.show_right_1 li a span,
.show_right_2 li a span{
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	background-color: #02a6e0;
	display: inline-block;
	margin-right: 5px;
}
.show_right>a{
	display: inline-block;
	font-size: 12px;
	font-family: 宋体;
	color: #545454;
	margin-top: 20px;
	margin-bottom: 16px;
	margin-right: 10px;
}
.show_right_bottom{
	width: 310px;
	height: 110px;
	margin-top: 16px;
}
.show_right_bottom>li{
	width: 310px;
	margin-bottom: 10px;
}
.show_right_bottom>li>img{float: left;}
.show_right_bottom>li>p{
	float: left;
	width: 200px;
	font-size: 14px;
	color: #545454;
	margin-left: 10px;
}
.show_right_bottom>li>span{
	float: left;
	font-size: 14px;
	color: #8f8f8f;
	font-family: 宋体;
	margin-left: 10px;
}
.show_right_bottom>a{
	display: block;
	float: right;
	height: 34px;
	width: 23px;
	background-image: url(img/show_right_bottom_right.png);
	position: absolute;
	margin-left: 265px;
    margin-top: 35px;
}
.show_center{
	margin-top: 5px;
	margin-left: 20px;
}
.show_center>li>a{
	display: block;
	margin-top: 20px;
	margin-right: 20px;
	width: 200px;
	height: 110px;
	background-image: url(img/headpage_center.png);
}
.show_center{float: left;}
.show_center>li{
	clear: both;
}
.show_center>li>a{
	margin-top: 0;
	margin-bottom: 20px;
}

/*movie*/
.movie{
	height: 320px;
	width: 970px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.movie_nav{
	width: 970px;
	height: 30px;
}
.movie_nav_left{
	float: left;
	height: 50px;
	width: 600px;
	margin-top: -5px;
}
.movie_nav_left li{
	height: 30px;
	margin-top: 5px;
}
.movie_nav_left span{
	float: left;
	font-size: 26px;
	color: #8f8f8f;
	margin-right: 10px;
}
.movie_nav_left li a:hover,
.movie_nav_right li a:hover,
.movie_nav_left>li .hovered,
.movie_nav_right>li .hovered{
	color: #fff;
	background-color: #05a6e0;
}
.movie_nav_left>li>a,
.movie_nav_right>li>a{
	padding: 5px 10px 5px 10px;
	line-height: 30px;
	font-size: 14px;
	color: #545454;
	margin-right: 5px;
}
.movie_nav_right>li>a{margin-right: 6px;}
.movie_nav_right{margin-right: -2px;}
.movie_nav_right>li{float: right;}
.movie_left{
	float: left;
	height: 240px;
	width: 420px;
	margin-top: 5px; 
}
.movie_left{
	display: block;
	height: 240px;
	width: 420px;
	background-image: url(img/show_left_top.png);
}
.movie_left>p{
	position: absolute;
	font-size: 16px;
	color: #fff;
	margin-left: 6px;
	margin-top: 197px;
}
.movie_left>span{
	font-size: 12px;
	font-family: 宋体;
	color: #bababa;
	position: absolute;
	margin-left: 6px;
	margin-top: 223px;
}
.movie_right{
	height: 240px;
	width: 310px;
	float: right;
	margin-top: 5px;
}
.movie_right_top{
	height: 140px;
	width: 310px;
}
.movie_right_1{margin-top: -10px;}
.movie_right_2{
	margin-top: -10px;
	margin-left: 90px;
}
.movie_right_1 li,
.movie_right_2 li{
	clear: left;
	margin-top: 10px;
}
.movie_right_1 li a,
.movie_right_2 li a{
	font-size: 14px;
	color: #545454;
}
.movie_right_1 li a span,
.movie_right_2 li a span{
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	background-color: #02a6e0;
	display: inline-block;
	margin-right: 5px;
}
.movie_right>a{
	display: inline-block;
	font-size: 12px;
	font-family: 宋体;
	color: #545454;
	margin-top: 20px;
	margin-bottom: 16px;
	margin-right: 10px;
}
.movie_center{
	margin-top: 5px;
	margin-left: 20px;
}
.movie_center>li>a{
	display: block;
	margin-top: 20px;
	margin-right: 20px;
	width: 200px;
	height: 110px;
	background-image: url(img/headpage_center.png);
}
.movie_center{float: left;}
.movie_center>li{clear: both;}
.movie_center>li>a{
	margin-top: 0;
	margin-bottom: 20px;
}


/*films*/
.films{
	height: 210px;
	width: 970px;
	margin: 0 auto;
}
.films_nav{
	height: 30px;
	width: 970px;
}
.films_nav .movie_nav_right{margin-right: 214px;}
.films_left{
	float: left;
	margin-top: 5px;
	height: 114px;
	width: 660px;
	margin-left: -20px;
}
.films_left li{
	margin-left: 20px;
	height: 114px;
	width: 200px;
	background-image: url(img/films_left.png);
}
.films_left li img{margin-top: 4px;}
.films_left li p{
	color: #fff;
	font-size: 14px;
	margin-top: 25px;
	margin-left: 6px;
}
.films_left li span{
	display: inline-block;
	font-size: 12px;
	color: #bababa;
	font-family: 宋体;
	margin-left: 6px;
}
.films_left li i{
	font-size: 18px;
	font-family: Arial;
	color: #ff2020;
	float: right;
}
.films_right{
	width: 330px;
	height: 114px;
	float: right;
	margin-left: -20px;
	margin-top: 10px;
}
.films_right li{margin-left: 20px;}
.films_right li p{
	text-align: center;
	width: 145px;
	font-size: 14px;
	color: #545454;
}


/*variety*/
.variety{
	height: 420px;
	width: 970px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.variety .movie_nav .movie_nav_right{margin-right: 66px;}
.variety .show_left>img{margin-top: 20px;}
.variety .best_right{
	margin-left: 0px;
	margin-top: 7px;
}
.variety .best_right li{margin-top: 10px;}


/*amusement*/
.amusement{
	height: 430px;
	width: 970px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.amusement_left{
	float: left;
	height: 380px;
	width: 64px;
}
.amusement .best_left{margin-top: 0px;}
.amusement .best_right{margin-top: -10px;}
.amusement .best_right li{margin-top: 10px;}
.amusement .best_right .center{margin-bottom: 10px;}

/*music*/
.music{
	width: 970px;
	height: 350px;
	padding-bottom: 50px;
	margin: 0 auto;
}
.music_left{
	float: left;
	width: 640px;
	height: 300px;
	margin-top: 10px;
}
.music_left_top{margin-left: -20px;}
.music_left_top>li{
	width: 200px;
	height: 167px;
	background-color: #f5f5f5;
}
.music_left_top>li a{
	display: block;
	height: 110px;
	width: 200px;
	background-image: url(img/music_left_top.png);
}
.music_left_top>li a span{
	position: absolute;
	font-size: 14px;
	color: #fff;
	margin-left: 155px;
	margin-top: 93px;
}
.music_left_top>li p{
	font-size: 14px;
	color: #545454;
	margin-left: 4px;
	margin-top: 11px;
}
.music_left_top>li span{
	font-size: 12px;
	color: #8f8f8f;
	font-family: Arial;
}
.music_left_top>li tips{
	font-size: 12px;
	color: #545454;
	font-family: 宋体;
}
.music_left_top_img{
	margin-top: 5px;
	margin-left: 4px;
}
.music_left_top>li{margin-left: 20px;}
.music_left_buttom{margin-top: 23px;}
.music_right{
	width: 310px;
	height: 300px;
	background-color: #666;
	float: right;
}
.music .show_right{height: 300px;}
.music .show_right .show_right_top{margin-top: 5px;}
.music .show_right .best_right li{margin-top: 10px;}
.music .show_right .best_right{
	margin-left: 0px;
	margin-top: -10px;
}


/*ad*/
.ad{
	width: 970px;
	height: 101px;
	margin: 0 auto;
	padding-bottom: 20px;
}

hr{
	width: 970px;
	margin: 0 auto;
	margin-bottom: 10px;
}


/*footer*/
.footer{
	height: 330px;
	width: 970px;
	margin: 0 auto;
}
dl{float: left;}
dt,dd{margin-top: 10px;}
dt,dt a{
	font-size: 12px;
	color: #8f8f8f;
}
dd,dd a{
	font-size: 12px;
	color: #545454;
}
.f_1{
	width: 235px;
	height: 150px;
}
.f_1 dd a,
.f_2 dd a{margin-right: 5px;}
.f_2{
	width: 260px;
	height: 150px;
}
.f_3{width: 110px;height: 150px;}
.f_4{width: 90px;height: 150px;}
.f_5{width: 110px;height: 150px;}
.f_6{width: 80px;height: 150px;}
.f_7{width: 75px;height: 150px;}
.f_8{width: 150px;height: 140px;}
.f_9{width: 200px;height: 140px;}
.f_10{width: 350px;height: 140px;}
.f_11 a{
	float: left;
	display: block;
	height: 90px;
	width: 90px;
	margin-top: 10px;
}
.f_11{
	float: left;
	font-family: 宋体;
	font-size: 16px;
	color: #545454;
	width: 195px;
	height: 140px;
}
/*.f_11:after{
	content: "";
	clear: both;
}*/
.f_11 p{
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}
.f_11 span{
	font-size: 12px;
	margin-left: 20px;
}
.f_12{
	width: 485px;
	height: 20px;
	font-size: 12px;
	font-family: 宋体;
	color: #8f8f8f;
	margin: 0 auto;
}
.f_12 span{
	color: #545454;
}