$mainGreen: #39a030;
$mainBg: #f8f8f8;
$lightGray: #666;
$darkGray: #333;
$mainWidth: 1206px;
$narWidth: 958px;
$mainFont: "Microsoft YaHei", Helvetica, GillSansMT, sans-serif;

@mixin boxShadow {
    -webkit-box-shadow: 0 1px 0 1px #ecebeb;
    -moz-box-shadow: 0 1px 0 1px #ecebeb;
    box-shadow: 0 1px 0 1px #ecebeb;
}

.global-center {
    width: $mainWidth;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1206px) {
    .global-center {
        width: $narWidth;
        margin-right: auto;
        margin-left: auto;
    }
    .course{
        width:735px !important;
    }
}

body {
    min-width: $mainWidth;
}

.ghost-center {
    position: relative;
}

.ghost-center::before {
    display: inline-block;
    content: " ";
    width: 1%;
    height: 100%;
    vertical-align: middle;
}
