*{
	margin: 0;
	padding: 0;
}
a{text-decoration: none;}
ul{list-style: none;}
ul li{float: left;}

.background{
	width: auto;
	height: 1800px;
	background-image: url(img/background.png);
}
.logoheader{
	width: 960px;
	height: 130px;
	margin: 0 auto;
}
.logoheader_top{
	font-size: 13px;
	color: #fff;
}
.logoheader_top_nav li a{
	font-size: 13px;
	color: #fff;
	line-height: 28px;
	margin-right: 8px;
}
.logoheader_top_nav li{margin-right: 8px;}
.logoheader_top_nav li:after{
	content: ".";
	color: #fff;
}
.logoheader_top_num{
	float: left;
	margin-left: 160px;
}
.logoheader_top_num li{margin-left: 15px;}
.logoheader_top_num li span{
	font-weight: bold;
	margin-right: 5px;
}
.logoheader_top_num li ul>li{margin-top: 7px;}
.logoheader_bottom{
	margin-top: -4px;
	height: 100px;
	width: 960px;
	background-image: url(img/yellow.png);
	overflow: hidden;
	float: left;
}
.bag{display: inline-block;}
.bag_words{
	display: inline-block;
	font-size: 20px;
	color: #f7f7f7;
	margin-left: 12px;
	margin-bottom: 14px;
}
.bag_words li input{
	height: 25px;
	width: 115px;
	text-align:center;
	line-height: 10px;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	color: #ffc200;
	background-color: #b20e00;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-top-color: #3d0500;
	border-bottom-color: #d98780;
	outline: none;
}
.bag_words li{
	clear: left;
	margin-top: 5px;
}
.bag_input{margin-left: 25px;}
.ecommerce{
	display: inline-block;
	margin-left: 88px;
}
.search{
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 32px;
}
.search_text{
	width: 250px;
	height: 30px;
	font-size: 13px;
	color: #666;
	background-color: #fff;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-style: none;
	outline: none;
} 
.search_text input{
	margin-left: 15px;
	margin-top: 10px;
	height: 15px;
	width: 200px;
	outline: none;
	border: none;
}
.search_submit input{
	width: 40px;
	height: 30px;
	font-size: 25px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-style: none;
	color: #f4e260;
	background-color: #7d0e0e;
	outline: none;
	cursor:pointer
}


/*导航部分*/
.navigation{
	height: 44px;
	width: 970px;
	margin: 0 auto;
}
.navigation ul li{margin-left: 18px;}
.navigation ul li span{
	display: inline-block;
	height: 28px;
	width: 4px;
}
.navigation ul li a{
	font-size: 16px;
	font-family: Arial Narrow;
	color: #fff;
	line-height: 28px;
	padding: 5px 15px 5px 15px;

}
.navigation ul li:hover,.navigation ul .hovered{
	background-image: url(img/navigation_center.png);
	background-repeat: repeat-x;
	border-radius: 4px;
}


/*中间主要内容部分*/
.main{
	width: 960px;
	height: 1245px;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
	/*background-color: #66ccff;*/
	margin: 0 auto;
	margin-top: 75px;
}
.header img{margin-top: -50px;}

/*categories*/
.categories{
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}	
.redcategories{
	width:212px;
	height:15px;
	border-style: solid;
	border-width: 15px 0px 0px 0px;
	background-color: #cb2a27;
	border-top-color: #db7175;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	color: #ffffff;
	text-align: center;
}
.redcategories span{
	display: block;
	margin-top: -10px;
}
.blackcategories{
	width: 210px;
	background-color: #ffeeb7;
	height: 362px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #f3dc94;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.blackcategories a{
	margin-left: 30px;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
}
.blackcategories a:hover{color: #cb2a27;}
.bottom-border{
	border-style: solid;
	width: 190px;
	margin-left: 10px;
	border-width: 0px 0px 1px 0px;
	border-color: #ffffff;
}
.blackcategories li{
	clear: left;
	padding-top: 12px;
}


/*product*/
.product{
	height: 690px;
	width: 705px;
	float: right;
	margin-right: 10px;
	margin-top: 30px;
	border-bottom: 1px solid #cdcdc8;
}
.sort{
	display: inline-block;
	height: 20px;
	font-size: 12px;
	font-family: Arial;
	color: #747474;
	margin-left: -5px;
}
.sort > li{padding-left: 5px;}
.sort_S{
	font-weight: bold;
	line-height: 20px;
}
.sort_A{width: 110px;}
.Item{
	font-family: Arial;
	color: #747474;
	font-size: 12px;
	float: right;
	margin-top: 7px;
}
.Item > li{padding-left: 5px;}
.Item_w{font-weight: bold;}
.OUR{
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	color: #666666;
	margin-top: 20px;
}
.product_picture{
	height: 580px;
	margin-top: 15px;
	margin-left: -26px;
}
.product_picture >li{margin-bottom: 47px;}
.product_picture >li>ul>li{margin-left: 26px;}
.product_name{
	font-size: 15px;
	font-weight: bold;
	color: #747474;
	margin-top: 5px;
}
.product_price{
	font-size: 13px;
	color: #292929;
}
.product_price span{color: #b20e00;}
.page{
	float: left;
	width: 220px;
	height: 20px;
	margin-left: 250px;
	margin-top: -30px;
}
.page li a{
	margin-left: 2px;
	padding: 2px 5px 2px 5px;
	font-size: 13px;
	color: #b20e00;
}
.page li a:hover{
	background-color: #b20e00;
	color: #fff;
}

/*Join*/
.join{
	float: left;
	width: 210px;
	height: 335px;
	background-color: #f5f5f2;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #e8e8e3;
	margin-left: 10px;
	margin-top: 13px;
}
.newsletter{
	width: 185px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	letter-spacing: 0px;
	margin-left: 15px;
	margin-top: 17px;
}
.join_input li{
	clear: left;
	padding-top: 10px;
}
.join_text input{
	margin-top: 5px;
	margin-left: 16px;
	width: 165px;
	height: 22px;
	border-width: 1px 0px 0px 1px;
	border-left-color: #c0c0c0;
}
.join_submit{
	border-radius: 2px;
}
.join_submit input{
	margin-left: 45px;
	height: 26px;
	width: 100px;
	text-align:center;
	line-height: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	background-color: #950000;
	border-radius: 6px;
	border-style: none;
	outline: none;
	cursor: pointer;
}
.join_app{
	float: left;
	margin-top: 20px;
	margin-left: 8px;}
.join_app li{
	clear: left;
	width: 192px;
	padding-top: 8px;
	border-top: 1px solid #fff;
}
.join_app li img{
	float: left;
	padding-right: 20px;
}
.join_app li span{
	font-size: 13px;
	line-height: 3px;
	color: #434343;
}
.join:after{
	content: " ";
	clear: both;
	display: block;
}

/*pay*/
.pay{
	float: left;
	height: 174px;
	width: 182px;
	margin-left: -195px;
    margin-top: 360px;
}




/*featured*/
.featured{
	float: right;
	height: 226px;
	width: 714px;
	margin-right: 10px;
}
.featured_head{
	font-size: 18px;
	font-family: Arial Narrow;
	font-weight: bold;
	color: #666;
	margin-left: 15px;
	margin-top: 10px;
}
.bg_featured{
	height: 160px;
	width: 707px;
	padding-top: 40px;
	background-image: url(img/bg-featured.png);
}
.buttom{
	height: 226px;
	width: 714px;
	margin-left: 2px;
}
.buttom_1{margin-top: 30px;}
.featured ul li p>a{
	font-family: Arial Regular;
	font-size: 12px;
	color: #b20e00;
	
}
.featured ul .picture{
	width: 155px;
	text-align: center;
	margin-right: 28px;
	margin-left: 28px;
}

/*footer*/
.footer{
	width: 960px;
	height: 300px;
	margin: 0 auto;
}
.footer_top .search{
	margin-left: 40px;
	margin-top: 15px;
}
.footer_top img{float: left;}
.footer_top a{
	font-size: 14px;
	font-weight: bold;
	color: #cbcbcb;
	height: 55px;
	line-height: 55px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.footer_bottom{margin-left: -110px;}
.footer_bottom >ul>li>ul>li{clear: left;}
.footer_bottom a{
	font-size: 13px;
	color: #cfcfcf;
}
.footer_bottom >ul>li{
	margin-left: 130px;
}
.frist a{
	display: inline-block;
	padding-bottom: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
.footer_bottom a>span{
	color: #ffcc00;
	display: inline-block;
	padding-bottom: 20px;
}