body, p, h1, h2, h3, h4, h5, h6, dl, dd { 
	margin:0;
}
a { 
	text-decoration: none;
}
ol, ul { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
}
img {
 	border: none;
}
.div1 {
	font-size: 34px;
	color: #78d8ce;
	width: 500px;
	height: 500px;
	padding: 300px 200px;
	background: url(../image/bg.png) no-repeat 160px 120px
}

.div1 input {
	width: 60px;
	height: 30px;
	background: #ccc;
	margin-left: 
}
.div img {
	margin-left: 20px;
}