body,div,h1,h2,h3,h4,dl,dt,dd,ul,ol,li,input {
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei,Arial,Helvetica;
}

a {
	text-decoration:none;
}
a:hover{
	color: #000099;
}

ol,ul,li,dl,dt,dd { 
	list-style:none;
}

button,input{
	border: none;
}
button,input,select {
	outline:none;
}