body,
ul,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select
{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
    font-weight: normal;
}
li
{
    list-style: none;
}
img
{
    border: none;
}
a
{
    text-decoration: none;
    outline: none;
}
a:hover
{
    text-decoration: none;
}
