
ul,
p,
h1,
h2,
h4,
dl,
dd,
form,
input,
textarea,
select
{
    margin: 0;
    padding: 0;
    font-weight: normal;
    outline:none;
}
li
{
    list-style: none;
}
img
{
    border: none;
}
a
{
    text-decoration: none;
    outline: none;
}
a:hover
{
    text-decoration: none;
}
input
{
	 text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    outline: none;
}
