
/*--------------SLIDER----------------*/

#slider {
	width: 1920px;
	margin: 0 auto;
}


/*--------------CONTROLS--------------*/

/*position controls*/
.controls li {
	top: 50%;
	margin-top: -30px
}

.controls li:nth-child(1) {
	left: 0;
}

.controls li:nth-child(2) {
	right: 0;
}


/*------------PAGINATION------------*/

/*style pagination*/
.pagination li {
	background-color: rgba(255,255,255,0.5);
}

.pagination li.active {
	background-color: rgba(255,255,255,0.9);
}


/*-------------HELPERS----------------*/

.responsive {
	width: 100%;
	height: auto;
}
.responsive p{
	position: absolute;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}