/* 如果浏览器缩小整个都没了。。。*/


.clear {
	zoom: 1;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

#header_wrap {
	height:56px;
	background: #2189bf url(../images/nav_logo.png) no-repeat 4% center;

}
#header_wrap .search {
	float:right;
	width: 373px;
	height: 28px;
	padding-top: 14px;
	padding-right: 94px;

}

#header_wrap form {
	width: 394px;
	height: 30px;
	background:url("../images/isearch.png")no-repeat;
}
#header_wrap input {
	float: left;
	width:273px;
	height:28px;
	padding-left: 40px;
	background:url(../images/search.png) no-repeat 17px 6px;
	border: none;

}

#header_wrap a {
	float:left;
	margin-left: 21px;
	margin-top: 6PX;
	height: 17px;
	padding-left: 18px;
	font-size: 12px;
	line-height: 17px;
	background: url(../images/log_in.png) no-repeat;
}



#main_content .nav_left {
 float: left;
 width: 260px;
 height: 1210px;
 background: url(../images/content_left_bg.png) repeat-x;

}



#main_content .circle1 {
	position: relative;
	margin-left:45px;
	margin-top: 18px;
	width:57px;
	height:57px;
	border:1px solid #bababe;
	border-radius:57px;
	background: none;
}

#main_content .circle2 {
	position: absolute;
	top: 80px;
	left: 51px;
	width:47px;
	height:47px;
	border-radius:47px;
	background: #bababe;
}

#main_content .name {
	position: absolute;
	top:96px;
	left:126px;
	color: #d9d9da;
	font-size: 16px;
} 


#main_content a {
	display: inline-block;
}
#main_content .cf{
	margin-top: 24px;
	margin-left:59px;
}

#main_content .collect1 {
	
	line-height: 20px;
	font-size: 16px;
	color: #6a7c90;
}

#main_content .col {
	font-size: 12px;
	padding-left: 3px;
}


#main_content .fans1 {
	margin-left: 67px;
	line-height: 20px;
	font-size: 16px;
	color: #6a7c90;
}

#main_content .fan {
	font-size: 12px;
	padding-left: 3px;

}


#main_content .d {
	width: 3px;
	height: 32px;
	position: absolute;
	top:157px;
	left:122px;
	background: #6a7c90;
	opacity: 0.1;
}



.list {
	margin-left: 45px;
	margin-top: 14px;
}

.list .per {
	font-size: 12px;
	color: #ededf0;
	padding-left: 25px;
	font-style: ;
	background: url(../images/file1.png) no-repeat 0 center;
}

.list li {
	list-style-type:none;
	font-size: 12px;
}


.list .file1  {
	color:#6e8096;
	margin-left: 26px;
	margin-top: 20px;
	padding-left: 16px;
	background: url(../images/files.png) no-repeat 0 -34px;
}



.list .f1 {
	display: inline-block;
	margin-right: 4px;
	line-height: 12px;
}


.list .f2 {
	display: inline-block;
	margin-right: 4px;
}


.list .f3  {
	display: inline-block;
	margin-right: 4px;
}

.list .file2 {
	color:#ededf0;
	margin-left: 26px;
	margin-top: 16px;
	padding-left: 16px;
	background: url(../images/files.png) no-repeat 0 -59px;

}

.list .file3  {
	color:#6e8096;
	margin-left: 26px;
	margin-top: 20px;
	padding-left: 16px;
	background: url(../images/files.png) no-repeat 0 -34px;
}

.list .words {
	margin-left: 31px;
	padding-left: 14px;
	font-size: 12px;
}

.list .word1 {
	color:#ededf0;
	padding-left: 14px;
	background: url(../images/files.png) no-repeat 0 -72px;
	margin-top: 17px;
}


.list .word2 {
	color:#6e8096;
	padding-left: 14px;
	background: url(../images/files.png) no-repeat 0 -84px;
	margin-top: 17px;
}

.list .word_color {
	color: #6e8095;
}

.list .perc {
	padding-left: 23px;
	color:#6e8096;
	margin-top: 31px;
	background: url(../images/files.png) no-repeat 0 -105px;
} 


.list .my {
	padding-left: 23px;
	color:#6e8096;
	margin-top: 36px;
	background: url(../images/files.png) no-repeat 0 -116px;

} 

.list .image, .list .grow {
	padding-left: 23px;
	color:#6e8096;
	margin-top: 36px;
	background: url(../images/files.png) no-repeat 0 -105px;
} 

.list .self {
	padding-left: 23px;
	color:#6e8096;
	margin-top: 36px;
	background: url(../images/files.png) no-repeat 0 -127px;
} 

.content_right {
	position: relative;
	margin-left: 260px;
}


.content_right a {
	height: 30px;
	background: #fff;
	color:#b7b7b7;
	line-height: 30px;
	font-size: 12px;
}

.content_right .a1{
	margin-left: 30px;
}

.content_right .a4{
	color:#6898c2;
}



.content_right .content {
	height: 1180px;
	background: #eeeeed;
}


.content_right .search {
	position: absolute;
	left: 60px;
	top: 50px;
	width: 890px;
	height: 85px;
	background: #fff;
	border: 1px solid #dddee0;
}

.content_right .inquire {
	float: left;
	display: inline-block;
	margin-left: 20px;
	width: 121px;
	height: 85px;
	background: #fff;
}

.content_right .inq {
	float:left;
	margin-top:15px;
	font-size: 12px;
	color:#aaa;
	line-height: 14px;
}

.content_right .select0 {
	float: right;
	margin-top:15px;
	background: url(../images/inq_bg.png) no-repeat 38px 4px;
	border:2px solid #e1e1e2;
}


.content_right .center {
	float: left;
	width: 157px;
	height: 85px;
	background: #fff;
	margin-left: 38px;
}

.content_right .center p {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 12px;
	margin-top: 7px;
	
}

.content_right .buy {
	color:#aaa;
}

.content_right .sale {
	color:#aaa;
}


.content_right .buyer {
	margin-top: 15px;
}


.content_right .select1,.select2 {
	border-color: #e1e1e2;
	float: right;
	margin-top: 2px;
	width:117px;
	height:23px;
	background:url(../images/center_bg.png) no-repeat 98px 8px;
	border:2px solid #e1e1e2;
}


.content_right .change {
	float:left;
	width: 28px;
	height: 85px;
	background: url(../images/change.png) no-repeat 0 center;
}

.content_right .mess {
	float: left;
	width: 326px;
	height: 85px;
	background: #fff;
}

.content_right .date {
	display: inline-block;
}

.content_right .date p {
	float:left;
	margin-top:16px;
	font-size: 12px;
	color:#aaa;
	line-height: 14px;
	padding-left: 33px;
}


.content_right .date select {

	border-color: #e1e2e2;
	margin-left: 14px;
	margin-top: 15px;
	width: 120px;
	padding-left: 8px;
	border:2px solid #e1e1e2;
}


.content_right .time {
	display: inline-block;
}

.content_right .time p {
	float:left;
	margin-top:16px;
	font-size: 12px;
	color:#aaa;
	line-height: 14px;
	padding-left: 10px;
}


.content_right .time select {

	border-color: #e1e2e2;
	margin-left: 14px;
	margin-top: 15px;
	width:68px;
	padding-left: 8px;
	background:url(../images/center_bg.png) no-repeat 48px 4px;
	border:2px solid #e1e1e2;
}





.content_right .person {
	display: inline-block;
}

.content_right .person p {
	float:left;
	margin-top:16px;
	font-size: 12px;
	color:#aaa;
	line-height: 14px;
	padding-left: 33px;
}


.content_right .person select {

	border-color: #e1e2e2;
	margin-left: 14px;
	margin-top: 15px;
	width: 68px;
	padding-left: 8px;
	background:url(../images/center_bg.png) no-repeat 48px 4px;
	border:2px solid #e1e1e2;
}


.content_right .trans {
	display: inline-block;
}

.content_right .trans p {
	float:left;
	margin-top:16px;
	font-size: 12px;
	color:#aaa;
	line-height: 14px;
	padding-left: 10px;
}


.content_right .trans select {

	border-color: #e1e2e2;
	margin-left: 14px;
	margin-top: 15px;
	width:120px;
	padding-left: 8px;
	background:url(../images/center_bg.png) no-repeat 100px 4px;
	border:2px solid #e1e1e2;
}

.search_btn {
	float: left;
	margin: 26px 0 0 28px;
	width: 50px;
	height: 25px;
	background: #388ac1;
	color: #fff;
	border:none;
	border-radius: 2px;
	border-top: 1px solid #f3f8fb;
	border-left: 1px solid #cee2f0;
}

.history_search {
	position: absolute;
	top: 144px;
	left: 60px;
}

.history_search li {
	float: left;
	margin-right: 4px;
	width: 110px;
	height: 64px;
	background: #fff;
	border-top:1px solid #cacdd1;
	border-left:1px solid #cacdd1;
}

.history_search li:hover>.hover {
	display: block;
}

.history_search a {
	float: left;
	width: 30px;
	height: 64px;
	margin-right: 4px;
	background: #fff;
	border-top:1px solid #cacdd1;
	border-left:1px solid #cacdd1;
	cursor: pointer;
}

.history_search .right_btn {
	width: 31px;
	height: 64px;
	background:#fff url("../images/right_btn.png") no-repeat center center;
}

.history_search .left_btn {
	width: 31px;
	height: 64px;
	border-top:1px solid #cacdd1;
	border-left:1px solid #cacdd1;
	background:#fff url("../images/left_btn.png") no-repeat center center;
}

.history_search .history_btn {
	border-top:1px solid #cacdd1;
	border-left:1px solid #cacdd1;
	float: left;
	color: #535353;
	font-size: 12px;
	width: 68px;
	height: 38px;
	padding: 16px 0 10px 60px;
	margin: 0;
	background: #fff url(../images/history_bg.png) no-repeat 18px 18px;
}

.history_search span {
	display: block;
	margin: 14px 0 0 28px;
	color: #323333;
	font-size: 12px;
}


.history_search .box1 .hover {
	display: block;
}


.history_search .hover {
	position: absolute;
	top: 0;
	z-index: 10;
	display: none;
	margin:0;
	padding:0;
	width: 110px;
	height: 4px;
	background: #4388c9;
}

.history_search .time {
	padding-left: 2px;
}

.history_search .price {
	color: #ec6500;
	font-size: 22px;
	line-height: 22px;
	padding-left: 12px;
	background: url(../images/price_bg.png) no-repeat 0 7px;
}

.data {
	position: absolute;
	top: 232px;
	left: 60px;
}

.data h3 {
	color: #323333;
	font-size: 12px;
	font-weight: normal;
}

.data li {
	float: left;
	width: 196px;
	height: 70px;
	background: #fff;
	margin:4px 28px 0 0;
}