body,div,ul,li
{
	padding:0;
	margin:0;
}


li
{
    list-style: none;
}

a,a:hover
{
    text-decoration: none;
}

p
{
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

span
{
    display: inline-block;
    margin:0 10px;
}

#content
{
    position: relative;
    width: 554px;
    height: 216px;
    margin: 50px auto 0;

    border-radius: 5px;
    box-shadow: 0 0 5px #63546b;
}

//按钮

.btn_left
{
    position: absolute;
    z-index: 1;
    top: 106px;
    left:0;

    display: block;

    width: 20px;
    height: 36px;

    background: url('images/btn1.png') no-repeat;
}

.btn_right
{
    position: absolute;
    z-index: 1;
    top: 90px;
    right: 0;

    display: block;

    width: 20px;
    height: 36px;

    background: url('images/btn2.png') no-repeat;
}

/*.clear
{
    zoom:1;
}
.clear:after
{
    content:"";display: block;clear: both;
}*/

#content .wrap
{
    position: relative;

    overflow: hidden;
    width: 500px;
    height: 216px;
    margin:0 auto;
}


#content ul
{
    position: absolute;
    top: 2px;
    left: 1px;
    overflow: hidden;
}

#content li
{
    float: left;

    margin-top: 4px;
    padding:4px;
    width: 250px;
    height: 202px;
    border:1px solid #5f6f7d;
    border-radius: 5px;
    text-align: center;
}

#content li .left
{
    float: left;
}

#content li .right
{
    margin-top: 8px;
}

#content li:hover
{
    position: relative;
    top: -2px;
}

.pic img
{
    display: inline-block;
    width: 42px;
    height: 80px;
}
