body {
    margin: 200px auto;
	width: 350px;
	height: 400px;
	border: 1px solid #000;
}
li {
	list-style: none;
}
li, ul,h2 {
	margin: 0;
	padding: 0;
}
#all {
	width: 60px;
	padding-left: 14px;
	padding-top: 8px;
	padding-right: 16px;
	margin-top: 4px;
	margin-left: 4px;
	border: 1px solid #000;	
	background-color: #f7f7f7;	
	font-size: 14px; 
}
#second {
	float: left;
	margin-left: 4px;
	width: 150px;
	line-height: 26px;
	border: 1px solid #000;
}
#second li {
	border-bottom: 1px solid #000;	
	padding-left: 15px;
	background-color: #f7f7f7;
}
.active {
	background-color: #fff;
	line-height: 32px;
	border: 2px solid #000;
	border-right: 1px solid #fff;
	vertical-align: top;
}
div {
	float: left;
	display: inline-block;
	width: 150px;
	border: 1px solid #000;	
	vertical-align: top;
	border-left: none;
	display: none;
}
div a {
	display: block;
	width: 150px;
	height: 30px;
	color: #000;
	line-height: 30px;
	padding-left: 20px;
	text-decoration: none;
}
#fee1 {
	display: inline-block;
	border: 1px solid #000;	
	vertical-align: top;
	border-left: none;
	display: none;
}
#fee1 a {
	display: block;
	width: 150px;
	height: 30px;
	color: #000;
	line-height: 30px;
	padding-left: 20px;
	text-decoration: none;
}
