/*公共头部*/
.public-header {
	height: 60px;
	width: 1920px;
	background: #0a0b08;
	margin: 0 auto;
}

.public-header .header-logo {
	float: left;
	height: 40px;
	width: 166px;
	background: url("../images/index-header-logo.png");
	margin-top:8px;
}
.public-header .header-nav {
	float: right;
	width:546px;
	height: 60px;
}
.public-header .header-nav .item {
	float: left;
	font-size: 16px;
	margin-top:20px;
	margin-right: 1px;
}
.public-header .header-nav a {
	color: #0298cb;
	width: 90px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: -19px;
}
.public-header .header-nav a:hover {
	background: url("../images/index-header-nav.png") no-repeat;
}
.public-header .header-nav li {
    position: relative;
    top: 19px;
    margin: 0 auto;
    text-align:center;
}

/*公共居中样式*/
.public-container {
	position: relative;
	margin-left: 460px;
	width: 1000px;
	height: 540px;
}

/*公共尾部*/
.public-footer {
	width: 1920px;
	height: 40px;
	background-color: #0a0b08;
	margin: 0;
}
.public-footer .footer-address .word-address{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding-top: 14px;
}