body,p,h1,h2,h3,h4,h5,h6,dl,dd,form,input,textarea,select{
    padding:0;
    margin:0;
    font-size:12px;
    font-family:'黑体';

  } 
  ol,ul{
    list-style:none;
    padding:0;
    margin:0;
  }

    a{
     text-decoration:none;
    }

    img{
   border:none;
    }