/*样式重置*/
body,a,li,div,ul,dl,dt,dd,h1,h2,h3,form,p,input,img,select {
	padding: 0;
	margin: 0;
	font-family:"Simhei";
}

ol,ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
}

input {
    border: none;
    padding: 0;
    outline: none;
    background: none;
}

body {
	margin: 0 auto;
	width: 1280px;
}

img {
	border: none;
	display: block;
}

/*清除浮动*/
.clearfloat {
	zoom:1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

/*header*/
.header {
	width: 1280px;
	height: 56px;
	background-color: #2189bf;
}

.header>img {
	padding-top: 10px;
    margin-left: 50px; 
}

.header-search {
    width: 312px;
    height: 26px;
    background: #fff;
    border-radius: 14px;
    position: relative;
    left: 812px;
    top: -30px;
}
.header-search input {
    width: 260px;
    height: 26px;
    position: absolute;
    margin-left: 40px;
    margin-top: -22px;
}
.header-search img {
	padding-top: 6px;
	margin-left: 18px;
	padding-right: 0;
}

.header a {
	margin-left: 1146px;
	margin-top: -50px;
	color: #fff;
	height: 17px;
	padding-left: 18px;
	font-size: 12px;
	line-height: 17px;
	background: url(../images/log_in.png) no-repeat;
}

/*side*/
.side {
	width: 260px;
	height: 1210px;
	background: #2a2e3d;
}

.user {
	padding-left: 46px;
	padding-top: 18px;
}

.user-head {
	width: 56px;
	height: 56px;
	border-radius:50px/50px;
	-moz-border-radius: 50px/50px;
	-webkit-border-radius: 50px/50px;
	border: 2px solid #eae9ea;
}
.head-border img {
	border-radius:50px/50px;
	-moz-border-radius: 50px/50px;
	-webkit-border-radius: 50px/50px;
	border: none;
	padding: 4px;
	position: absolute;
}
.head-border p {
	font-size: 16px;
	color: #f6f5f5;
	position: relative;
	top: 15px;
	left: 75px;
}

.collection{
	position: relative;
	top: 22px;
	width: 72px;
	text-align: center;
	left: -14px;
}

.blank {
	width: 2px;
	height: 30px;
	border-right:2px solid #313545;
	position: absolute;
	top: 158px;
	left: 236px;
}

.follows {
	position: relative;
	top: -16px;
	left: 90px;
	width: 72px;
	text-align: center;
}

.collection li,.collection a,.follows li,.follows a {
	color: #6e8095;
}

.list {
	width: 260px;
	padding-top: 28px;
}
.list ul li {
	background-color:#2a2e3d;
}
.list ul li a {
	color: #6e8095; 
	font-size:12px; 
	display: block; 
    height:40px;
    line-height: 40px;
    position: relative;
}
.list ul li .inactive a:hover { 
	background:#2a2e3d;
}
.list ul li .inactives {
	background:#393d4e;
} 
.list ul li ul {
	display: none;
}
.list ul li ul li {  
	background-color:#393d4e;
}
.list ul li ul li ul {
	display: none;
}
.list ul li ul li a { 
	padding-left:70px;
	line-height: 25px;
}
.list ul li ul li ul li { 
	background-color:#393d4e;
}
.list ul li ul li ul li a { 
	color:#6b7c91; 
	padding-left:100px;
}
.form {
	background: url(../images/pre-list-ico.png)no-repeat;
}
.form:hover,.form:focus{
	background: url(../images/alt-list-ico.png)no-repeat;
	color: #ededef;
}

.form span{
	padding-left: 70px;
}

.photo {
	background: url(../images/pre-list-ico.png)0 -80px no-repeat;
}
.photo:hover,.form:focus {
	background: url(../images/alt-list-ico.png)0 -80px no-repeat;
    color: #ededef;
}
.photo span {
	padding-left: 70px;
}

.grow {
	background: url(../images/pre-list-ico.png)0 -120px no-repeat;
}
.grow:hover,.form:focus {
	background: url(../images/alt-list-ico.png)0 -120px no-repeat;
color: #ededef;
}
.grow span {
	padding-left: 70px;
}

.id-massage {
	background: url(../images/pre-list-ico.png)0 -40px no-repeat;
}
.id-massage:hover,.form:focus {
	background: url(../images/alt-list-ico.png)0 -40px no-repeat;
color: #ededef;
}
.id-massage span {
	padding-left: 70px;
}

.collect {
	background: url(../images/pre-list-ico.png)0 -40px no-repeat;
}
.collect:hover,.form:focus {
	background: url(../images/alt-list-ico.png)0 -40px no-repeat;
    color: #ededef;
}
.collect span {
	padding-left: 70px;
}




/*内容*/
.content {
    width: 1020px;
    height: 1210px;
    background: #ededec;
    position: relative;
    left: 260px;
    top: -379px;
}
/*搜索*/
.content-search {
    display: inline-block;	
}

.search {
    width: 890px;
    height: 85px;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(131,138,149,.6);
    color: #323333;
    display: inline-block;
}
.search p {
    color: #aaa;
    padding-right: 15px;
    display: inline-block;
    font-size: 12px;
}
.search select {
	font-size: 12px;
}
.search .select1 {
	width: 122px;
	height: 25px;
}
.search .select2 {
	width: 71px;
	height: 26px;
}


.inquire {
	width: 150px;
	height: 26px;
}
.inquire .inq {
	margin-left: 30px;
	margin-top: 14px;
}

.center {
	width: 226px;
}
.buyer {
	width: 198px;
	height: 26px;
	position: relative;
	left: 188px;
	top: -16px;
}   
.saler {
	width: 198px;
	height: 0;
	position: relative;
	left: 188px;
	top: -12px;
}

.mess {
	width: 300px;
	position: relative;
	left:405px;
	top:-54px;
}
.line1 {
    height: 26px;
    position:relative;
    top: 15px;
}
.time {
	position: relative;
	top: -26px;
	left: 184px;
}
.person {
	height: 26px;
	position: relative;
	top: 18px;
}
.trans {
	position: relative;
	left: 136px;
	top: -6px;
}

.search a {
    position: relative;
    left: 712px;
    top: -86px;
    width: 100px;
}
.searchSub {
    width: 50px;
    height: 25px;
    font-family: 黑体;
    background: #388ac1;
    color: #fff;
    border-radius: 1px;
    position: absolute;
    margin: -14px 0 0 29px;
}
/*路径*/
.path {
	height: 30px;
	background: #fff;
}
.path li,.path a {
	display: inline;
	color: #aaa;
	font-size: 12.28px;
	line-height: 30px;
	position: relative;
	top: -8px;
	left: 30px;
}
.path .first {
	padding-left: 30px;
	padding-right: 6px;
	background: none;
}
.path li {
	background: url(../images/path-bg.png)no-repeat;
	padding-left: 13px;
}
.path h1,h2,h3,h4 {
	display: inline;
}
.path h4 a {color: #6898c2;}
.con {
    width: 890px;
    height: 1160px;
    padding-top: 20px;
    margin: 0 60px;
}

/*历史查询*/
.prev i,
.next i {
    width: 10px;
    height: 17px;
    background-position: -42px -33px;
    margin: 24px 0 0 11px;
}
.next i {background-position: -57px -33px;}
.tenAm i,
.elevenAm i,
.twelveAm i,
.onePm i,
.twoPm i,
.threePm i{
    width: 11px;
    height: 12px;
    background-position: -89px -17px;
    margin: 16px 0 0 32px;
}
.his i {
    width: 32px;
    height: 32px;
    background-position: -41px -60px;
    margin: 17px 0 0 19px;
}
.history {
    width: 890px;
    height: 65px;
    font-family: 微软雅黑;
    margin-top: -32px;
    font-size: 12px;
}
.history p {
    color: #323333;
    padding-top: 15px;
    text-align: center;
}
.history li {
    float: left;
    width: 111px;
    height: 65px;
    margin-left: 4px;
    background: #fff;
    box-shadow: -1px -1px 1px 0 rgba(131,138,149,.6);
}
#prev,
#next {width: 30px;}
#prev {margin-left: 0;}
#his {width: 130px;}
.his p {
    color: #535353;
    line-height: 65px;
    padding: 0;
}
.history span {
    font-size: 21px;
    color: #ec6500;
    line-height: 38px;
}
#selected:hover{
	background: url(../images/time_bg.png);
}
/*统计*/
.statistics {
	height: 115px;
	margin-top: -6px;
}
.statistics h5 {
    font-family: 微软雅黑;
    color: #323333;
    padding: 21px 0 6px 0;
}
.statistics p {
    color: #323333;
    padding: 20px 0 0 8px;
    display: inline-block;
}
.statistics span {
    font-size: 10px;
    color: #aaa;
    display: block;
    padding-top: 11px;
}
.statistics li {
    float: left;
    width: 197px;
    height: 70px;
    margin-left: 29px;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(131,138,149,.6);
}
.statistics ul {
	margin-top: -22px;
}
li.green {
	margin-left: 0;
}
.green {
	border-left: 3px solid #43b29e;
}
.blue {
	border-left: 3px solid #388ac1;
}
.red {
	border-left: 3px solid #d04a36;
}
.yellow {
	border-left: 3px solid #e2cd47;
}
.green i,
.blue i,
.red i,
.yellow i {
    width: 61px;
    height: 47px;
    margin: 12px 15px;
    float: right;
}
.green i {
	background-color: #43b29e;
}
.blue i {
	background-color: #398bc2;
}
.red i {
	background-color: #cf4a36;
}
.yellow i {
	background-color: #e1cc46;
}