body, p, h1, h2, h3, h4, dl, dd { 
	margin: 0; 
	font-size: 12px;
}
ol, ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
img {
	border: none;
}

body {
	z-index: 1;
	margin: 0 auto;
}

#top {
	width: 1280px;
	height: 59px;
	background: #228abf;
}
#top img{
	position: relative;
	top: 13px;
	left: 48px;
}
form {
	top: 17px;
	right: 21px;
	float: right;
	width: 312px;
	height: 28px;
	background: url(pic/top/search.png);
	position: relative;
}
.search {
	position: absolute;
	top: 1px;
	right: 10px;
	width: 264px;
	height: 24px;
	background: none;
	border: none;
	outline: none;
}

#top a {
	
	display: block;
	width: 41px;
	height: 16px;
	float: right;
	font-size: 12px;
	font-family: Adobe 黑体;
	color: #fff;
	margin-right: 96px;
	margin-top: 26px;
	padding-left: 18px;
	background: url(pic/top/person.png) no-repeat;
}

#user { 
	background: url(pic/user/user_bg.png) repeat-y;
	width: 258px;
	height: 1207px;
	position: relative;

}

.name1 {
	background: url(pic/user/head.png) no-repeat;
	position: absolute;
	top: 18px;
	left: 43px;
	width: 57px;
	height: 57px;
}

.name2 {
	font-size: 16px;
	font-family: 黑体;
	color: #f6f5f5;
	position: absolute;
	top: 38px;
	left: 118px;
}
.information1 {
	font-size: 16px;
	font-family: 黑体;
	color: #6e8095;
	line-height: 16px;
	position: absolute;
	top: 97px;
	left: 60px;
}
.information2 {
	line-height: 12px;
	position: absolute;
	top: 115px;
	left: 61px;
}
#user img {
	position: absolute;
	top: 99px;
	left: 115px;
}
.information3 {
	font-size: 16px;
	font-family: 黑体;
	color: #6e8095;
	line-height: 16px;
	position: absolute;
	top: 96px;
	left: 148px;
}
.information4 {
	line-height: 12px;
	position: absolute;
	top: 115px;
	left: 148px;
}
.information2 a {
	font-size: 12px;
	font-family: 宋体;
	color: #6e8095;
}
.information4 a {
	font-size: 12px;
	font-family: 宋体;
	color: #6e8095;
}

.item a {
	font-size: 12px;
	color: #6e8095;
}
.item p {
	font-size: 12px;
	font-family: 黑体;
	color: #6e8095;
	line-height: 13px;
}
p.item_1 {
	width: 258px;
	height: 190px;
	background: #383d4e;
	position: absolute;
	top: 150px;
}
.item_1 span {

	background: url(pic/user/file_1.png) no-repeat;
	line-height: 13px;
	padding-left: 24px;
    color: #ededef;
	position: absolute;
	top: 14px;
	left: 43px;
}
.item_1 a {
	color: #ededef;
}

.file1 {
	background: url(pic/user/di.png) no-repeat;
	font-size: 12px;
	line-height: 13px;
	padding-left: 16px;
	position: absolute;
	top: 196px;
	left: 67px;
 	color: #6e8095;
}
.file1 span {
	background: url(pic/user/file_2.png) no-repeat 0 2px;
	padding-left: 16px;
}
.file2 {
	background: url(pic/user/di.png) no-repeat 0 -10px;
	font-size: 12px;
	line-height: 13px;
	padding-left: 16px;
	position: absolute;
	top: 225px;
	left: 67px;
}
.file2 span {
	background: url(pic/user/file_3.png) no-repeat 0 2px;
	padding-left: 16px;	
}
.file2 a {
	color: #ededef;
}
.doc1 {
	background: url(pic/user/doc_1.png) no-repeat;
	font-size: 12px;
	line-height: 13px;
	padding-left: 16px;
	color: #ededef;
	position: absolute;
	top: 255px;
	left: 100px;
}
.doc1 a {
	color: #ededef;
}
.doc2 {
	background: url(pic/user/doc_2.png) no-repeat;
	font-size: 12px;
	color: #6e8095;
	line-height: 13px;
	padding-left: 16px;
	position: absolute;
	top: 285px;
	left: 100px; 
}
.file3 {
	background: url(pic/user/di.png) no-repeat;
	font-size: 12px;
	line-height: 13px;
	padding-left: 16px;
	position: absolute;
	top: 314px;
	left: 67px;
 	color: #6e8095;
}
.file3 span {
	background: url(pic/user/file_2.png) no-repeat 0 2px;
	padding-left: 16px;
}
.item_2 {
	background: url(pic/user/ico.png) no-repeat;
	line-height: 13px;
	padding-left:24px;
	position: absolute;
	top: 356px;
	left: 44px;
}
.item_3 {
	background: url(pic/user/ico2.png) no-repeat;
	height: 13px;
	padding-left:24px;
	position: absolute;
	top: 402px;
	left: 44px;
}
.item_4 {
	background: url(pic/user/ico.png) no-repeat;
	height: 13px;
	padding-left:24px;
	position: absolute;
	top: 452px;
	left: 44px;
}
.item_5 {
	background: url(pic/user/ico.png) no-repeat;
	height: 13px;
	padding-left:24px;
	position: absolute;
	top: 500px;
	left: 44px;
}
.item_6 {
	background: url(pic/user/ico3.png) no-repeat;
	height: 13px;
	padding-left:24px;
	position: absolute;
	top: 548px;
	left: 44px;
}

#content {
	position: absolute;
	top: 59px;
	left: 258px;
	width: 1020px;
	height: 1207px;
	background: url(pic/content/box1/content_bg.png) repeat-x;
}

.line {
	position: absolute;
	left: 30px;
	width: 990px;
	height: 30px;
	font-size: 12px;
	font-family: 黑体;
	color: #aaaaaa;
	line-height: 30px;
}
.line a {
	font-size: 12px;
	font-family: 黑体;
	color: #aaaaaa;
}

.i_5 {
	position: absolute;
	left: 143px;
}
.doc {
	color: #6898c2;
	position: absolute;
	left: 153px;
}

.box1 {
	position: relative;
	top: 49px;
	left: 59px;
	width: 889px;
	height: 84px;
	border: 1px solid #dcdddf;
	border-left: 2px; 
	background: #fff;
	font-family: 黑体;
	font-size: 12px;
	color: #aaaaaa;
}
.refer {
	position: absolute;
	left: 25px;
	top: 22px;
}
.refer h2 {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	width: 56px;
	height: 12px;
	padding: 6px 2px 5px 6px;
	border: 1px solid #dcdee0;
	position: absolute;
	top: -8px;
	left: 56px;
}
.refer a {
 	background: url(pic
/content/box1/box1-2.png)no-repeat 3px 9px;
 	width: 20px;
 	height: 22px;
 	position: absolute;
 	top: -8px;
 	left: 104px;
}
.buy {
	position: relative;
	top: 22px;
	left: 188px;
}
.buy dd {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	border: 1px solid #dcdee0;
	width: 111px;
	height: 17px;
	padding-left: 6px;
	padding-top: 6px;
	position: absolute;
	top: -8px;
	left: 38px;
}
.buy a {
	background: url(pic/content/box1/box1-3.png) no-repeat 4px 17px; 
	width: 24px;
	height: 22px;
	position: absolute;
	top: -8px;
	left: 93px;
}
.sell {
	position: relative;
	top: 35px;
	left: 188px;
}
.sell dd {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	border: 1px solid #dcdee0;
	width: 111px;
	height: 17px;
	padding-left: 6px;
	padding-top: 6px;
	position: absolute;
	top: -7px;
	left: 38px;
}
.sell a {
	background: url(pic/content/box1/box1-3.png) no-repeat 4px 17px; 
	width: 24px;
	height: 22px;
	position: absolute;
	top: -7px;
	left: 93px;
}
.box1 img {
	position: absolute;
	top: 23px;
	left: 344px;
} 
.line_1 {
	position: absolute;
	top: 22px;
	left: 407px;

}
.line_1 input {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	width: 107px;
	height: 19px;
	border: 1px solid #dcdee0;
	padding-top: 4px;
	padding-left: 10px;
	position: absolute;
	top: -7px;
	left: 39px;
}
.line_2 {
	position: absolute;
	top: 52px;
	left: 407px;
}
.line_2 h2 {
	font-family: 黑体;
	font-size: 12px;
	font-weight: normal;
	color: #aaaaaa;
}
.line_2 span {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	width: 67px;
	height: 16px;
	padding-top: 7px;
	padding-left: 7px;
	border: 1px solid #dcdee0;
	position: absolute;
	top: -7px;
	left: 39px;
}
.line_2 a {
	background: url(pic/content/box1/box1-1.png) no-repeat 5px 9px; 
	width: 24px;
	height: 22px;
	position: absolute;
	top: -7px;
	left: 93px;
}
.line_3 {
	position: absolute;
	top: 22px;
	left: 582px;
}
.line_3 span {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	width: 60px;
	height: 17px;
	border: 1px solid #dcdee0;
	padding-top: 7px;
	padding-left: 6px;
	position: absolute;
	top: -7px;
	left: 46px;
}
.line_3 a {
	background: url(pic/content/box1/box1-1.png) no-repeat 9px 9px; 
	width: 22px;
	height: 22px;
	position: absolute;
	top: -7px;
	left: 93px;s
}
.line_4 {
	position: absolute;
	top: 52px;
	left: 531px;
}
.line_4 span {
	font-size: 12px;
	font-family: 黑体;
	color: #323333;
	width: 110px;
	height: 15px;
	border: 1px solid #dcdee0;
	padding-top: 6px;
	padding-left: 8px;
	position: absolute;
	top: -7px;
	left: 46px;
}
.line_4 a {
	background: url(pic/content/box1/box1-1.png) no-repeat 9px 9px; 
	width: 22px;
	height: 22px;
	position: absolute;
	top: -7px;
	left: 145px;
}
.submit {
	width: 51px;
	height: 26px;
	border: none;
	position: absolute;
	top: 30px;
	left: 726px;
	background: url(pic/content/box1/submit.png)no-repeat ;
}

.box2 {
	position: relative;
	top: 54px;
	left: 59px;
	width: 889px;
	height: 64px;
	font-size: 12px;
	color: #323333;
}
.left {
	width: 29px;
	height: 63px;
	border-top: 1px 24px solid #d9dbdd;
	border-left: 1px 64px solid #d9dbdd;
	background: url(pic/content/box2/left.png)no-repeat;
}
.am_10 {
	position: absolute;
	top: 0;
	left: 35px;
	width: 110px;
	height: 64px;
	border-top: 1px 24px solid #d7d9dc;
	border-left: 1px 64px solid #d7d9dc;
	background: #fff;
}
.am_10 p {
	background: url(pic/content/box2/left_1.png)no-repeat;
	padding-left: 30px;
	padding-top: 15px;
}
.am_10 p:after {
	content: "am";
	padding-left: 3px;
}
.am_10 span {
	background: url(pic/content/box2/dollar.png)no-repeat 27px 9px;
	line-height: 24px;
	padding-left: 40px;
	font-family: 微软雅黑;
	font-size: 21px;
	color: #ec6500;

}
.am_11 {
	position: absolute;
	top: 0;
	left: 150px;
	width: 110px;
	height: 64px;
	border-top: 1px 24px solid #d7d9dc;
	border-left: 1px 64px solid #d7d9dc;
	background: #fff;
}
.am_11 p {
	padding-left: 30px;
	padding-top: 15px;
}
.am_11 p:after {
	content: "am";
	padding-left: 3px;
}
.am_11 span {
	background: url(pic/content/box2/dollar.png)no-repeat 27px 9px;
	line-height: 24px;
	padding-left: 40px;
	font-family: 微软雅黑;
	font-size: 21px;
	color: #ec6500;

}
.am_12 {
	position: absolute;
	top: 0;
	left: 265px;
	width: 110px;
	height: 64px;
	border-top: 1px 24px solid #cacdd0;
	border-left: 1px 64px solid #ced0d4;
	background: #fff;
}
.am_12 p {
	padding-left: 30px;
	padding-top: 15px;
}
.am_12 p:after {
	content: "am";
	padding-left: 3px;
}
.am_12 span {
	background: url(pic/content/box2/dollar.png)no-repeat 27px 9px;
	line-height: 24px;
	padding-left: 40px;
	font-family: 微软雅黑;
	font-size: 21px;
	color: #ec6500;

}
.pm_01 {
	position: absolute;
	top: 0;
	left: 380px;
	width: 110px;
	height: 64px;
	border-top: 1px 24px solid #cacdd0;
	border-left: 1px 64px solid #cacdd0;
	background: #fff;
}
.pm_01 p {
	padding-left: 30px;
	padding-top: 15px;
}
.pm_01 p:after {
	content: "pm";
	padding-left: 3px;
}
.pm_01 span {
	background: url(pic/content/box2/dollar.png)no-repeat 27px 9px;
	line-height: 24px;
	padding-left: 40px;
	font-family: 微软雅黑;
	font-size: 21px;
	color: #ec6500;

}
.pm_02 {
	position: absolute;
	top: 0;
	left: 495px;
	width: 110px;
	height: 64px;
	border-top: 1px 24px solid #cacdd0;
	border-left: 1px 64px solid #cacdd0;
	background: #fff;
}
.pm_02 p {
	padding-left: 30px;
	padding-top: 15px;
}
.pm_02 p:after {
	content: "pm";
	padding-left: 3px;
}
.pm_02 span {
	background: url(pic/content/box2/dollar.png)no-repeat 27px 9px;
	line-height: 24px;
	padding-left: 40px;
	font-family: 微软雅黑;
	font-size: 21px;
	color: #ec6500;

}
.pm_03 {
	position: absolute;
	top: 0;
	left: 610px;
	width: 110px;
	height: 64px;
	border-top: 1px 24px solid #cacdd0;
	border-left: 1px 64px solid #cacdd0;
	background: #fff;
}
.pm_03 p {
	padding-left: 30px;
	padding-top: 15px;
}
.pm_03 p:after {
	content: "pm";
	padding-left: 3px;
}
.pm_03 span {
	background: url(pic/content/box2/dollar.png)no-repeat 27px 9px;
	line-height: 24px;
	padding-left: 40px;
	font-family: 微软雅黑;
	font-size: 21px;
	color: #ec6500;
}

.right {
	position: absolute;
	top: 0;
	left: 725px;
	width: 29px;
	height: 63px;
	border-top: 1px 24px solid #d9dbdd;
	border-left: 1px 64px solid #d9dbdd;
	background: url(pic/content/box2/right.png)no-repeat;
}
.history {
	position: absolute;
	top: 0;
	left: 760px;
	width: 130px;
	height: 64px;
	border-top: 1px 24px solid #cacdd0;
	border-left: 1px 64px solid #cacdd0;
	background: #fff;
}
.history span {
	background: url(pic/content/box2/right_1.png) no-repeat 19px 18px;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #535353；
	line-height: 90px;
	height:32px;
	position: absolute;
	top: 0;
	padding-left: 62px;
	padding-top: 28px;
}

.box3 {
	width: 889px;
	height: 90px;
	position: absolute;
	top: 230px;
	left: 59px;

}
.box3 p {
	font-family: 微软雅黑;
	font-size: 12px;
	color: #323333;
}
.green {
	position: absolute;
	top: 18px;
	left: 0px;
	width: 199px;
	height: 69px;
	border: 1px solid #d3d4d7;
	background: url(pic/content/box3/1.png) repeat-y;
}
.green li {
	font-family: 黑体; 
	padding-top: 20px;
	padding-left: 8px;
}
.green span {
	position: absolute;
	top: 44px;
	left: 8px;
	font-size: 12px;
	color: #aaaaaa;
}
.b1 {
	position: absolute;
	top: 12px;
	left: 125px;
	width: 60px; 
	height: 46px;
	background: #43b29d;
	border: 1px solid #d1ece7;
}
.blue {
	position: absolute;
	top: 18px;
	left: 230px;
	width: 199px;
	height: 69px;
	border: 1px solid #d3d4d7;
	background: url(pic/content/box3/2.png) repeat-y;
}
.blue li {
	font-family: 黑体; 
	padding-top: 20px;
	padding-left: 8px;
}
.blue span {
	position: absolute;
	top: 44px;
	left: 8px;
	font-size: 12px;
	color: #aaaaaa;
}
.b2 {
	position: absolute;
	top: 12px;
	left: 125px;
	width: 60px; 
	height: 46px;
	background: #388ac1;
	border: 1px solid #d1ece7;
}
.red {
	position: absolute;
	top: 18px;
	left: 460px;
	width: 199px;
	height: 69px;
	border: 1px solid #d3d4d7;
	background: url(pic/content/box3/3.png) repeat-y;
}
.red li {
	font-family: 黑体; 
	padding-top: 20px;
	padding-left: 8px;
}
.red span {
	position: absolute;
	top: 44px;
	left: 8px;
	font-size: 12px;
	color: #aaaaaa;
}
.b3 {
	position: absolute;
	top: 12px;
	left: 125px;
	width: 60px; 
	height: 46px;
	background: #d04a36;
	border: 1px solid #d1ece7;
}
.yellow {
	position: absolute;
	top: 18px;
	left: 690px;
	width: 199px;
	height: 69px;
	border: 1px solid #d3d4d7;
	background: url(pic/content/box3/4.png) repeat-y;
}
.yellow li {
	font-family: 黑体; 
	padding-top: 20px;
	padding-left: 8px;
}
.yellow span {
	position: absolute;
	top: 44px;
	left: 8px;
	font-size: 12px;
	color: #aaaaaa;
}
.b4 {
	position: absolute;
	top: 12px;
	left: 125px;
	width: 60px; 
	height: 46px;
	background: #e2cd47;
	border: 1px solid #d1ece7;
}

.box4 {
	width: 892px;
	height: 357px;
	position: absolute;
	top: 333px;
	left: 59px;
}

.pro {
	width: 532px;
	height: 530px;	
}
.pro h2 {
	height: 40px;
	font-family: 黑体;
	font-size: 12px;
	color: #aaaaaa;
	background: url(pic/content/box4/bg.png) repeat-x 0 -80px;
}
.pro h2 strong {
	display: block;
	height: 40px;
	background: url(pic/content/box4/bg.png) no-repeat;
}
.pro h2 strong span {
	padding-top: 16px;
	padding-left: 14px;
	display: block;
	height:24px;
	background: url(pic/content/box4/bg.png) no-repeat right -40px;
}
.pro_1 {
	width: 530px;
	height: 316px;
	border: 1px solid  #d8d9db;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius:  6px;
	background: #fff;
}
.pro_1 ul {
	width: 491px;
	height: 27px;
	position: absolute;
	top: 53px;
	left: 20px;
}
.pro_1 a {
	display: block;
	width: 60px;
	height: 25px;
	line-height: 27px;
	padding-left: 24px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
	border-top: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: url(pic/content/box4/p.png) no-repeat;
}
.pro_1 a:hover {
	height: 27px;z-index: 1;
	background: #fff;
	
}
.pro_1 li {
	float: left;
	padding-right: 3px;

}
.table {
	width: 490px;
	height: 250px;
	border: 1px solid #cbcbcb;
	position: absolute;
	left: 20px;
	top: 78px;
}
.pro_1 table {
	position: absolute;
	top: 28px;
	left: 38px;
	width: 403px;
	height: 185px;
	border: 1px solid #cbcbcb;
	text-align: center;
	border-collapse: collapse;
}
.pro_1 table tr {
	height: 28px;
	border: 1px solid #cbcbcb;
}
.pro_1 table td {
	width: 99px;
	border: 1px solid #cbcbcb;
}
.pro_1 table td:hover {
	background: #f4f5f6;
}

.pro_search {
	width: 352px;
	height: 355px;
	background: #fff;
	position: absolute;
	top:0;
	left: 540px;
}
.pro_search  h2 {

	height: 40px;
	font-family: 黑体;
	font-size: 12px;
	color: #aaaaaa;
	background: url(pic/content/box4/bg.png) repeat-x 0 -80px;
}
.pro_search  h2 strong {
	display: block;
	height: 40px;
	background: url(pic/content/box4/bg.png) no-repeat;
}
.pro_search  h2 strong span {
	padding-top: 16px;
	padding-left: 14px;
	display: block;
	height:24px;
	background: url(pic/content/box4/bg.png) no-repeat right -40px;
}
.pro_2 {
	position: absolute;
	top: 40px;
	width: 350px;
	height: 315px;
	border-left: 1px solid  #d8d9db;
	border-right: 1px solid  #d8d9db;
	border-bottom: 1px solid  #d8d9db;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius:  6px;
}
.pro_2 h3 {
	font-family: 微软雅黑;
	font-size: 12px;
	color: #c3c2c2;
	padding-top: 16px;
	padding-left: 52px;
}
.pro_2 table {
	position: absolute;
	top: 57px;
	left: 35px;
	border-top: 1px solid  #d8d9db;
	border-bottom: 1px solid  #d8d9db;
	border-collapse: collapse;
}
.pro_2 h4 {
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
	margin-left: 52px;
	margin-top: 7px;
} 
.td_1 {
	width: 95px;
	height: 43px;

}
.td_2 {
	width: 185px;
	height: 43px;
	border-left: 1px solid  #d8d9db;

}
.td_3 {
	position: absolute;
	top: 44px;
	left: 0;
	height: 145px;
	width: 280px;
	border-top: 1px solid  #d8d9db;
	border-bottom: 1px solid  #d8d9db;
}
.pro_2  p {
	font-family: 微软雅黑;
	font-size: 12px;
	color: #c3c2c2;
	padding-top: 4px;
	padding-left: 14px;
}
.pro_2  span {
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
	padding-top: 4px;
	padding-left: 14px;
}
.pro_2 a {
	font-size: 12px;
	font-family: 微软雅黑;
	padding-left: 22px;
	color: #535353;
	line-height: 12px;
	background: url(pic/content/box4/choose.png) no-repeat 0 -13px;
	position: absolute;
	top: 258px;
	left: 38px;
}
.pro_2 a:visited {
	background: url(pic/content/box4/choose.png) no-repeat ;
}
.pro_2 input {
	position: absolute;
	top: 252px;
	left: 265px;
}

