/*适用于任何页面，通用重置样式（css reset）*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;
	padding: 0;
	font-size: 14px;
}/*不使用“*”，性能差*/
ol,ul{
	list-style: none;
	padding:0;
	margin: 0;
}
img{
	border:none;
}

li{
	list-style: none;
}

input,select,textarea{
	outline: none;
}

a{
	text-decoration: none;
}



/*清浮动，各种方法的优缺点*/
.clearfix{
	*zoom:1;/*ie6,7	*/
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

body{
	font-size: 14px;
	margin:0 auto;

}

#wrap-1{
	width: 100%;
	height:60px;
	background-color: #5e554e;
	position: fixed;
	z-index: 100;
}
.header{
	margin:0 auto;
	width:1180px;
	height: 60px;

}

// 头部左边

// .header .header-left{
// 	float:left;
// 	height:60px;
// 	width: 300px;
// }
.header .header-left{
	float:left;
	height:60px;
}
.header-left img{
	vertical-align:middle;
	border-radius: 30px;

	    filter:alpha(opacity=50);
}
.header-left span{
	vertical-align:middle;
	font-size: 42px;
	line-height: 30px;
	color:#fff;
	margin-top: 12px;


}
.header-left a{
	cursor: pointer;
	color: #fff;
}
// 头部左边结束
// 头部右边
#header .header-right{
	float: right;

}
#ul1{
	position: relative;
}

.header-right ul{

}
.header-right li{
	float: right;
	text-align: center;
	height:30px;
	line-height: 60px;
	vertical-align:middle;
	padding:15px 10px;
	z-index: 1;
	
}

.header-right a{
	display:block;
	width:80px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	color: #fff;
	font-size: 18px;

}
// .header-right a:visited{
// 	background-color: #09f03a;
// 		color: #49459c;
// }
.header-right a:hover{
	background-color: #74c2b4;
		color: #fff;
		font-size: 18px;
}
.header-right a:active{
	background-color: #09f03a;
		color: #fff;
		font-size: 18px;
}

// 头部右边结束
// 底部
// #wrap-2{
// 	width:100%;
// 	height: 120px;
// 	background-color: #0e9cf6;

// }
#wrap-2{
	width:100%;
	height:120px;
	overflow: hidden;

	border-top: 1px solid #d0d6d9;
	z-index: 999;
}
.bottom{
	margin:0 auto;
	width:1180px;
	position: relative;


}

.bottom .bottom-information{
	padding: 25px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #d0d6d9;
}	
.bottom-information a{
	    margin: 0 10px;
        color: #99a1a6;
        font-size: 18px;
}
.bottom-information a:hover{
	color: #0e9cf6;
}
.bottom-account{
	margin:0 auto;
	height: 40px;
	margin-top: 20px;
	cursor: pointer;
	text-align: center;

}
.weibo{
	display: inline-block;
	background: url(images3/images/web.png);
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
}
.weixin{
	display: inline-block;
	background: url(images3/images/weixin.png);
	width: 40px;
	height:40px;
	vertical-align: middle;
}
.weixin:hover,.weibo:hover{
	opacity: 0.5;
	filter:alpha(opacity=50);
}
#code{
	position: absolute;
	top: -26px;
	left: 643px;
	background: url(images3/images/ercode.png);
	width: 98px;
	height: 98px;
	display: none;
	opacity: 1;
	background-color:#ccc;
}

.content{
	height:2000px;
}


// 底部结束

