body,p,h1,h2,h3,h4,h5,h6,dl,dd,span {
	margin: 0;
	font-family: 'Microsoft YaHei';
}
ol,ul,td {
	list-style: none;
	padding: 0;
	margin: 0;
}
form,input,select {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
}
a {
	text-decoration: none; 
}
img {
	border: none;
}
textarea {
	margin: 0;
	padding: 0;
	resize: none;
	outline: none;
}
body {
	background-color: #fff;
}

