body,p,h1,h2,h3,h4,h5,h6,dl,dd,span {
	margin: 0;
	color: #fdfeff;
	font-family: '微软雅黑';
}
ol,ul,td {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none; 
}
img {
	border: none;
}
.fixd {
	width: 400px;
	height: 480px;
	margin: 100px auto;
	background: url("images/bg1.png") repeat-x;
	position: relative;
	overflow: hidden;
}
#city {
	display: inline-block;
	width: 300px;
	height: 34px;
	line-height: 34px;
	font-size: 30px;
	margin-left: 16px;
    margin-top: 40px;
}
#time {
	display: inline-block;
	width: 300px;
	font-size: 30px;
	line-height: 36px;
	margin-left: 16px;
	margin-top: 33px;
}
#oneday {
	position: absolute;
	top: 140px;
	left: : 0;
	height: 240px;
}
.change {
	width: 400px;
	height: 240px;
	display: inline-block;
	
}
.change1 {
	width: 400px;
	height: 140px;
} 
.temp {
	float: right;
	padding-top: 15px;
	width: 240px;
	height: 100px;
	font-size: 60px;
	font-weight: normal;
}
.rain {
	display: inline-block;
	width: 130px;
	height: 25px;
	margin-top: 14px;
	margin-left: 20px;
	background: url(images/rain.png) no-repeat;
	font-size: 16px;
	padding-top: 18px; 
}
.pressure {
	display: inline-block;
	width: 58px;
	height: 50px;
	line-height: 25px;
	margin-left: 20px;	
}
.change2 {
	width: 400px;
	height: 85px;
}
.change2 ul{
	width: 368px;
	margin-left: 16px;
	height: 77px;
	background: #8566cc;
	border-radius: 10px;
} 
.change2 li {
	float: left;
	width: 61px;
	height: 16px;
	padding-top: 15px;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
}
#week {
	position: relative;
	width: 368px;
	margin-left: 16px;
	margin-top: 242px;
	height: 78px;
	background: #8566cc;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 16px;
}
#week ul {
	display: inline-block;
	width: 60px;
	float: left;
	margin-left: 1px;
	padding-top: 10px;
	line-height: 26px;
	font-size: 13px;
	text-align: center;
}
#week li {
	width: 60px;
	display: inline-block;
}
#week .active {
	color: #fff;
	font-size: 15px;
	padding-top: 6px;
}
#week ul:hover {
	color: #fff;
	font-size: 15px;
	padding-top: 6px;
}