.video-wrapper{
	overflow: hidden;
}

.vider-wrapper .controls{
	position: absolute;
	height: 30px;
	width: 30px;
	margin: auto;
	background: rgba(0,0,0,0.5);
}

.video-wrapper button{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	cursor: pointer;
	font-size: 17px;
	color: #fff;
	background: transparent;
}

.video-wrapper button[paused]{
	font-size: 12px;
}